{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Email Template</title>
</head>
<body>
    <p>Уважаеми {{ name }},</p>
    <p>Благодарим ви, че се регистрирахте в нашия сайт. Ние сме тук, за да ви помогнем да подадете вашата данъчна декларация за САЩ и да осигурим професионално обслужване по въпроси, свързани с данъците.</p>
    <p>Както знаете, данъчните правила и процедури в САЩ могат да бъдат сложни, затова ние сме тук, за да ви улесним процеса. След като попълните всички задължителни полета във вашия профил, нашите експерти по данъци ще се свържат с вас за подробности относно вашата декларация и начина, по който можем да ви помогнем.</p>
    <p>Не се колебайте да ни пишете за всякакви въпроси или запитвания, които имате.</p>
    <p>Очакваме с нетърпение да ви помогнем да си върнете максималната сума данъци от САЩ.</p>
    <p>С поздрав,</p>
    <p style="color: #00355E; font-weight: 700; font-size: 16px;">AIM TRAVEL TEAM | Work and Travel USA</p>
    <img style="width: 345px; height: 150px;" src="{{ logo }}?timestamp=123456" alt="Logo">
    <p style="color: #00355E; font-weight: 700; font-size: 16px;">AIM Travel USA | 2 YORDAN YOSIFOV STR. | Next to Joy Station | Sofia | Bulgaria</p>
    <p>Email: studentski@aimtravel.bg</p>

</body>
</html>
