{% extends 'base.html' %}
{% load static %}
{% load placeholders %}

{% block content %}

    <div class="pre-taxes-section">
        <div id="pre-taxes-form" class="taxes-section">
            <h2>Върни своите пари без такса за обработка на документи!</h2>




            {% if user.is_authenticated %}
                <h3>Избери година за възстановяване</h3>
                <div class="row">
                    <div>
                        <input type="radio" id="2021" name="working_year" value="2021">
                        <label for="2021">2021</label>
                    </div>
                    <div>
                        <input type="radio" id="2022" name="working_year" value="2022">
                        <label for="2022">2022</label>
                    </div>
                    <div>
                        <input type="radio" id="2023" name="working_year" value="2023">
                        <label for="2023">2023</label>
                    </div>
                    <div>
                        <input type="radio" id="other" name="working_year" value="other">
                        <label for="other">Друга</label>
                    </div>
                </div>
                <div id="tax-offer" class="container">
                    <div class="yellow-banner">Премиум услуга</div>
                    <h2>Как ще ти помогнем?</h2>

                    <ul>
                        <li>ще кандидатстваме за 100% рефънд на данъците(State & Federal), които сте платили в САЩ.</li>
                        <li>Нашата комисионна е 10% от възстановената сума.</li>
                    </ul>
                </div>
                <a href="{% url 'edit tax' pk=latest_tax.pk %}">
                    <div class="query-btn white-txt">
                    <p>Продължи напред</p></div></a>


            {% else %}
                <div class="row">
                    <div class="container small-cont">
                        <p class="mid-txt">Изглежда, че не си влязъл в профила си. Можеш да го направиш от тук.</p>
                        <a href="{% url 'sign in' %}" class="query-btn"><p class="white-txt">Login</p></a>
                    </div>
                    <div class="container small-cont">
                        <p class="mid-txt">Все още нямаш профил? Използвай кратката ни форма за регистрация.</p>
                        <a href="{% url "sign up" %}" class="query-btn blue-btn"><p class="white-txt">Регистрация</p>
                        </a>
                    </div>
                </div>
            {% endif %}


        </div>
    </div>


{% endblock %}



