{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIM Travel - Home</title>

    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/node_modules/glightbox/dist/css/glightbox.min.css">
    <script src="../../static/node_modules/glightbox/dist/js/glightbox.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QS8LXF1MN1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-QS8LXF1MN1');
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-825631983"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'AW-825631983');
    </script>
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '489738488628741');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=489738488628741&ev=PageView&noscript=1"
    /></noscript>

</head>

<body>
<header>
    <section id="top-header">
        <div id="top-header-left">
            <p id="top-header-left-p1">+359 88 99 66 583</p>
            <div class="vl">
                <hr>
            </div>
            <p id="top-header-left-p2">studentski@aimtravel.bg</p>
            <div class="vl">
                <hr>
            </div>
            <p id="top-header-left-p3">Абонирай се</p>
        </div>
        <div id="top-header-right">
            <p id="top-header-right-p1">Последвай ни в:</p>
            <div id="top-header-right-links">

                <div id="top-header-right-links-icons">

                    <div id="insta-link">
                        <a href="https://www.instagram.com/aim_workandtravel/">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg width="24px" height="24px" stroke-width="1.5"
                                 viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                <path d="M12 16a4 4 0 100-8 4 4 0 000 8z" stroke="#FFFFFF" stroke-width="1.5"
                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M3 16V8a5 5 0 015-5h8a5 5 0 015 5v8a5 5 0 01-5 5H8a5 5 0 01-5-5z"
                                      stroke="#FFFFFF" stroke-width="1.5"></path>
                                <path d="M17.5 6.51l.01-.011" stroke="#FFFFFF" stroke-width="1.5"
                                      stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="vl">
                        <hr>
                    </div>
                    <div id="fb-link">
                        <a href="https://www.facebook.com/profile.php?id=100072235954652">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg width="24px" height="24px" stroke-width="1.5"
                                 viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                <path d="M17 2h-3a5 5 0 00-5 5v3H6v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3V2z"
                                      stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                            </svg>
                        </a>
                        <div id="vl3"></div>
                    </div>
                    <div class="vl">
                        <hr>
                    </div>
                    <div id="youtube-link">
                        <a href="https://www.youtube.com/@aimtravel9347">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg width="24px" height="24px" stroke-width="1.5"
                                 viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                <path d="M14 12l-3.5 2v-4l3.5 2z" fill="#000000" stroke="#FFFFFF" stroke-width="1.5"
                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                <path
                                        d="M2 12.707v-1.415c0-2.895 0-4.343.905-5.274.906-.932 2.332-.972 5.183-1.053C9.438 4.927 10.818 4.9 12 4.9c1.181 0 2.561.027 3.912.065 2.851.081 4.277.121 5.182 1.053.906.931.906 2.38.906 5.274v1.415c0 2.896 0 4.343-.905 5.275-.906.931-2.331.972-5.183 1.052-1.35.039-2.73.066-3.912.066-1.181 0-2.561-.027-3.912-.066-2.851-.08-4.277-.12-5.183-1.052C2 17.05 2 15.602 2 12.708z"
                                        stroke="#FFFFFF" stroke-width="1.5"></path>
                            </svg>
                        </a>
                        <div id="vl3"></div>
                    </div>
                    <div class="vl">
                        <hr>
                    </div>
                    <div class="tiktok-link">
                        <a href="https://www.tiktok.com/@aim_travelusa">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg width="24px" height="24px" stroke-width="1.5"
                                 viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                <path d="M21 8v8a5 5 0 01-5 5H8a5 5 0 01-5-5V8a5 5 0 015-5h8a5 5 0 015 5z"
                                      stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                                <path d="M10 12a3 3 0 103 3V6c.333 1 1.6 3 4 3" stroke="#FFFFFF" stroke-width="1.5"
                                      stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="vl">
                        <hr>
                    </div>

                </div>

                <div id="top-header-right-login">
                    <a id="top-header-right-login-p1" href="{% url 'sign in' %}">Login</a>
                </div>

            </div>
        </div>
    </section>
    <section id="header-nav">
        <nav>
            <ul id="header-nav-links-container">
                <li><a class="link-a" id="home-page" href="{% url 'index' %}">НАЧАЛО</a></li>
                <li class="dropdown link-a">
                    <a class="target-element" id="wat-usa" href="#">Бригада САЩ</a>
                    <div class="tooltip">
                        <a href="https://www.google.com">ЗАЩО НА БРИГАДА В САЩ?</a>
                        <a href="#">КОЙ МОЖЕ ДА УЧАСТВА?</a>
                        <a href="#">КАК ДА СЕ ЗАПИШЕШ?</a>
                        <a href="#">ЦЕНИ</a>
                        <a href="#">НЕОБХОДИМИ ДОКУМЕНТИ</a>
                    </div>
                    <span class="dropdown-icon"></span>
                </li>
                <li class="dropdown">
                    <a class="target-element link-a" id="online-services" href="#">Онлайн услуги</a>
                    <div class="tooltip">
                        <a href="#">nqkakvo mnogo mnogo dylgo</a>
                        <a href="#">placeholder</a>
                        <a href="#">placeholder</a>
                    </div>
                    <span class="dropdown-icon"></span>
                </li>
                <li><img id="logo" src="../../static/img/Ready-stock/Logo/AIM_logo-ROUNDED.png" alt="">
                </li>
                <li class="dropdown">
                    <a class="target-element link-a" id="other-services" href="#">Други услуги</a>
                    <div class="tooltip">
                        <a href="#">i te tuka edno dulgo</a>
                        <a href="#">placeholder</a>
                        <a href="#">placeholder</a>
                    </div>
                    <span class="dropdown-icon"></span>
                </li>
                <li><a class="link-a" id="job-offers" href="{% url 'offers' %}">Работни оферти</a></li>
                <li><a class="link-a" id="contacts" href="{% url 'under-construction' %}">Контакти</a></li>
            </ul>
        </nav>
    </section>


    <section id="offers-header">
        <div class="offers-background">
            <div class="background-gradient" id="offers-header-sub">
                <div id='text-container'>
                    <h1>РАБОТНИ ОФЕРТИ</h1>
                    <p>Искате да се запознаете с интересна и полезна информация относно работните ни оферти?
                        Забравете за
                        скучното четене и посетете видеото. Ще се изненадате колко лесно и забавно можете да се
                        научат нови
                        неща.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="message-section">
        <div class="message-frame">
            <h1 id="success-message">Изпратено успешно.</h1>
        </div>
    </section>


</header>
<img id="offers-page-flag1" class="usa-flag" src="../../static/img/USA%20Flag.png" alt="">

<footer>
    <img id="offers-page-flag2" class="usa-flag" src="../../static/img/USA%20Flag.png" alt="">
    <div id="footer-nav-container">
        <div id="logo-container">
            <a href="">
                <img src="../../static/img/white-AIM_logo%201.png" alt="">
            </a>
            <p>Work Hard Travel Far</p>
        </div>
        <div class="nav-container">
            <h1>БЪРЗИ ВРЪЗКИ</h1>
            <a href="#top-header">Начало</a>
            <a href="#index/about">За нас</a>
            <a href="#">Работни оферти</a>
            <a href="#">Блог</a>
            <a href="{% url 'under-construction' %}">Контакти</a>
        </div>
        <div class="nav-container">
            <h1>БРИГАДА В САЩ</h1>
            <a href="#">Защо на бригада в САШ?</a>
            <a href="#">Кой може да участва?</a>
            <a href="#">Как да се запишеш?</a>
            <a href="#">Цена</a>
            <a href="#">Необходими документи</a>
        </div>
        <div class="nav-container">
            <h1>ОНЛАЙН УСЛУГИ</h1>
            <a href="#">Безплатна консултация</a>
            <a href="#">Регистрация за бригада</a>
            <br>
            <div id="phone-details">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="24px" height="24px" stroke-width="1.5"
                     viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                    <path
                            d="M18.118 14.702L14 15.5c-2.782-1.396-4.5-3-5.5-5.5l.77-4.13L7.815 2H4.064c-1.128 0-2.016.932-1.847 2.047.42 2.783 1.66 7.83 5.283 11.453 3.805 3.805 9.286 5.456 12.302 6.113 1.165.253 2.198-.655 2.198-1.848v-3.584l-3.882-1.479z"
                            stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                </svg>
                <p>
                    +359 88 99 66 583
                </p>
            </div>
            <div id="email-details">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="24px" height="24px" stroke-width="1.5"
                     viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#FFFFFF">
                    <path d="M7 9l5 3.5L17 9" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M2 17V7a2 2 0 012-2h16a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2z" stroke="#FFFFFF"
                          stroke-width="1.5"></path>
                </svg>
                <p>studentski@aimtravel.bg</p>
            </div>
        </div>
        <div class="nav-container">
            <h1>ДРУГИ УСЛУГИ</h1>
            <a href="#">Лагер / Стаж САЩ</a>
            <a href="#">Работа за нестуденти (Н2В Виза)</a>
            <a href="#">Самолетни билети</a>
            <a href="#">Данъци в САЩ</a>
            <a href="#">Данъци</a>
        </div>
    </div>
    <div id="horizontal-line">
        <hr>
    </div>
    <div id="footer-link-container">
        <div id="footer-text">
            <p>Copyright © <b>AIM Travel USA</b> 2023. Всички права запазени.</p>
        </div>
        <div id="footer-links-icons">

            <div id="footer-right-links-icons">
                <div id="footer-login">
                    <a id="footer-login-p1" href="#">Login</a>

                </div>
                <div class="vl">
                    <hr>
                </div>
                <div id="insta-link">
                    <a href="https://www.instagram.com/aim_workandtravel/">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" stroke-width="1.5"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M12 16a4 4 0 100-8 4 4 0 000 8z" stroke="#FFFFFF" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M3 16V8a5 5 0 015-5h8a5 5 0 015 5v8a5 5 0 01-5 5H8a5 5 0 01-5-5z"
                                  stroke="#FFFFFF" stroke-width="1.5"></path>
                            <path d="M17.5 6.51l.01-.011" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round"></path>
                        </svg>
                    </a>

                </div>
                <div class="vl">
                    <hr>
                </div>
                <div id="fb-link">
                    <a href="https://www.facebook.com/profile.php?id=100072235954652">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" stroke-width="1.5"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M17 2h-3a5 5 0 00-5 5v3H6v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3V2z"
                                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round">
                            </path>
                        </svg>
                    </a>

                </div>
                <div class="vl">
                    <hr>
                </div>
                <div id="youtube-link">
                    <a href="https://www.youtube.com/@aimtravel9347">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" stroke-width="1.5"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M14 12l-3.5 2v-4l3.5 2z" fill="#000000" stroke="#FFFFFF" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"></path>
                            <path
                                    d="M2 12.707v-1.415c0-2.895 0-4.343.905-5.274.906-.932 2.332-.972 5.183-1.053C9.438 4.927 10.818 4.9 12 4.9c1.181 0 2.561.027 3.912.065 2.851.081 4.277.121 5.182 1.053.906.931.906 2.38.906 5.274v1.415c0 2.896 0 4.343-.905 5.275-.906.931-2.331.972-5.183 1.052-1.35.039-2.73.066-3.912.066-1.181 0-2.561-.027-3.912-.066-2.851-.08-4.277-.12-5.183-1.052C2 17.05 2 15.602 2 12.708z"
                                    stroke="#FFFFFF" stroke-width="1.5"></path>
                        </svg>
                    </a>

                </div>
                <div class="vl">
                    <hr>
                </div>
                <div class="tiktok-link">
                    <a href="https://www.tiktok.com/@aim_travelusa">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" stroke-width="1.5"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M21 8v8a5 5 0 01-5 5H8a5 5 0 01-5-5V8a5 5 0 015-5h8a5 5 0 015 5z"
                                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round">
                            </path>
                            <path d="M10 12a3 3 0 103 3V6c.333 1 1.6 3 4 3" stroke="#FFFFFF" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>


            </div>

        </div>
    </div>
</footer>
<script type="text/javascript" src="../../static/javascript/js_dropdown.js"></script>
<script type="text/javascript" src="../../static/javascript/js_slider.js"></script>
<script type="text/javascript" src="../../static/javascript/js_navbar.js"></script>
<script type="text/javascript" src="../../static/javascript/js_video.js"></script>
</body>

</html>

