{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        <div id="register-section" class="pre-taxes-section">
            <div id="pre-taxes-form" class="container taxes-section oval-border">
                <!-- =======================
                Main Content START -->
                <section class="auth-page">
                    <!-- Information -->
                    <!-- Logo -->
                    <a href="{% url 'index' %}">
                        <img class="h-50px mb-4" src="{% static "img/Ready-stock/Logo/AIM_logo-colored.png" %}"
                             alt="logo">
                    </a>
                    <!-- Title -->
                    <h1 class="mb-2 h3">Добре дошъл!</h1>


                    <form class="text-start" method="post" action="{% url 'sign in' %}">
                        {% csrf_token %}
                        {% if form.errors %}
                        <div class="form-errors">
                            <p>Please correct the following errors:</p>
                            <ul>
                                {% for error in form.non_field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                {% for field in form %}
                                    {% if field.errors %}
                                        <li>{{ field.label }}: {{ field.errors.0 }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                        <!-- Email -->
                        <div class="mb-3">
                            <label class="form-label">Въведи e-mail:
                                {{ form.username }}</label>
                        </div>
                        <!-- Password -->
                        <div class="mb-3 position-relative">
                            <label class="form-label">Въведи парола:
                                {{ form.password }} </label>
                            {#                            <span class="position-absolute top-50 end-0 translate-middle-y p-0 mt-3">#}
                            {#											<i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"></i>#}
                            {#										</span>#}
                        </div>
                        <!-- Remember me -->
                        <div class="mb-3 d-sm-flex justify-content-between">
                            {#                                            <div>#}
                            {#                                                <input type="checkbox" class="form-check-input" id="rememberCheck">#}
                            {#                                                <label class="form-check-label" for="rememberCheck">Запомни ме?</label>#}
                            {#                                            </div>#}
                            <a href="{% url 'password_reset' %}">Забравена парола</a>
                        </div>
                        <!-- Button -->
                        <div id="button">
                            <button type="submit" class="slider-btn">Вход</button>
                        </div>
                        <p class="mb-0">Нямаш профил?<a href="{% url 'sign up' %}"> Регистрирай се</a></p>
                    </form>
                    <!-- Form END -->
                </section>
                <!-- =======================
                Main Content END -->
            </div>
        </div>
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
{% endblock %}