{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        <div id="register-section" class="pre-taxes-section">
            <div id="pre-taxes-form" class="container taxes-section oval-border">
                <!-- =======================
                Main Content START -->
                <section class="auth-page">
                    <!-- Information -->
                    <!-- Logo -->
                    <a href="{% url 'index' %}">
                        <img class="h-50px mb-4" src="{% static "img/Ready-stock/Logo/AIM_logo-colored.png" %}"
                             alt="logo">
                    </a>
                    <!-- Title -->
                    <h1 class="mb-2 h3">Смяна на парола</h1>


                    <form class="text-start" method="post">
                        {% csrf_token %}
{#                        {% if form.errors %}#}
{#                            <div class="form-errors">#}
{#                                <p>Please correct the following errors:</p>#}
{#                                <ul>#}
{#                                    {% for error in form.non_field_errors %}#}
{#                                        <li>{{ error }}</li>#}
{#                                    {% endfor %}#}
{#                                    {% for field in form %}#}
{#                                        {% if field.errors %}#}
{#                                            <li>{{ field.label }}: {{ field.errors.0 }}</li>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </ul>#}
{#                            </div>#}
{#                        {% endif %}#}
                        {{ form.as_p }}
                        <button class="query-btn" type="submit">Промени</button>
                    </form>
                    <!-- Form END -->
                </section>
                <!-- =======================
                Main Content END -->
            </div>
        </div>
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
{% endblock %}