{% extends 'base.html' %}
{% load static %}
{% load placeholders %}

{% block content %}
    <section id="my-profile" class="container">
        <div id="my-profile-header" class="row">
            <div class="column">
                {% if user.user_picture %}
                    <img class="profile-pic" src="{{ user.user_picture.url }}" alt="">
                {% else %}
                    <p>В момента няма качена снимка.</p>
                {% endif %}

                <form id="change-profile-form" class="column" action="{% url 'employee profile details' user.pk %}"
                      method="POST"
                      enctype="multipart/form-data">
                    {% if form.non_field_errors %}
                        <div class="error-container">
                            <div class="form-errors">
                                <p>Please correct the following errors:</p>
                                <ul>
                                    {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                    {% for field in form %}
                                        {% if field.errors %}
                                            <li>{{ field.label }}: {{ field.errors.0 }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <label for='employee_first_name'>Име:</label> {{ employee.employee_first_name }}
                    </div>
                    <div class="row">
                        <label for='employee_last_name'>Фамилия:</label> {{ employee.employee_last_name }}
                    </div>
                    <div class="row">
                        <label for='employee_role'>Позиция:</label> {{ employee.employee_role }}
                    </div>
                    <div class="row">
                        <label for='employee_phone'>Телефон:</label> {{ employee.employee_phone }}
                    </div>
                    <div class="row">
                        <label for='employee_email'>Е-майл:</label> {{ employee.employee_email }}
                    </div>

                    {% csrf_token %}
                </form>
                <a href="{% url 'employee profile edit' user.pk %}">
                    <button type="button" class="query-btn">Редактирай</button>
                </a>
            </div>
        </div>
    </section>

{% endblock %}
