{% extends 'base.html' %}


{% block content %}


	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Подновяване на парола</h2>
		<hr>
		<p>Забравил си паролата си? Въведи e-mail адреса си по-долу и ще ти изпратим инструкции за подновяването ѝ.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form}}
            <button class="btn btn-primary" type="submit">Изпрати e-mail</button>
        </form>
  	</div> 

{% endblock %}