/* @import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css'); */

@font-face {
    font-family: 'Sofia Sans';
    src: url('../static/fonts/Sofia-sans/SofiaSans-VariableFont_wght.ttf') format('woff');
}

@font-face {
    font-family: 'Jost';
    src: url('../static/fonts/Jost/Jost-VariableFont_wght.ttf') format('woff');
}

body {
    width: 100%;
    margin: 0;
    padding: 0;

}

/* <HEADER> */

header {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 1182px;
    left: 0px;
    top: 0px;

}

body .usa-flag {
    display: flex;
    width: 101px;
    align-items: center;
    gap: 20px;

    position: absolute;
    top: 930px;
    left: 1588px;


}

/* Top Header */

#top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    gap: 50px;

    width: 100%;
    height: 50px;

    background: #000000;
    box-sizing: border-box;
    z-index: 1;
}

#top-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    font-family: 'Sofia Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: normal;
    letter-spacing: 0.51px;
    color: #ECECEC;
}

#top-header-left-p3 {
    font-weight: 700;
    text-decoration-line: underline;
    color: #FFFFFF;
}

#top-header-right {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    font-family: 'Sofia Sans', serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 17px;
    letter-spacing: 0.03em;
    color: #ECECEC;
}

#top-header-right-links {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

}

#top-header-right-links-icons {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.vl {
    padding: 0px;
    margin: 0px;
}

.vl hr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 0px;

    opacity: 0.8;
    border: 1.8px solid #9D0A0E;
    transform: rotate(90deg);
    padding: 0px;
    margin: 0px;
}

#insta-link {
    display: flex;
    align-items: center;
    gap: 13px;

}

#fb-link {
    display: flex;
    align-items: center;
    gap: 13px
}

#youtube-link {
    display: flex;
    align-items: center;
    gap: 13px

}

#tiktok-link {
    display: flex;
    align-items: center;
    gap: 13px

}

#top-header-right-login-p1 {
    /* Login */

    font-weight: 700;
    text-decoration-line: underline;
    color: #ECECEC;
}

/* Nav Header*/

#header-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    gap: 40px;
    isolation: isolate;

    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1000;
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
    padding-top: 8px;
    padding-bottom: 6px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.54);
    backdrop-filter: blur(15px);
    transition: background 0.8s ease-in-out;
}

#header-nav-links-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;

    flex: none;
    order: 0;
    flex-grow: 1;
    z-index: 0;

    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    position: relative;

}

nav .dropdown {
    position: relative;
    display: inline-block;
}

.target-element {
    position: relative;
    z-index: 1;
}

.tooltip {
    display: none;
    flex-direction: column;
    width: max-content;
    padding: 20px;
    gap: 10px;

    position: absolute;
    top: 40px;
    /* adjust as needed */
    left: 90%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid #c4c4c4;
    border-radius: 15px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(5.5px);
    opacity: 0;
    transition: opacity 0.2s;
}

.tooltip::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -5px;
    border: 12px solid #c4c4c4;
    border-color: transparent transparent #c4c4c4 transparent;
}

.dropdown:hover .tooltip {
    display: flex;
    opacity: 1;
}

nav a {

    /* Uppercase Heading */

    font-family: 'Jost', serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    line-height: 29px;
    /* identical to box height */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #ffffff;

}

.link-a {
    font-size: 20px;
}

.dropdown-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../static/img/Vector-arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    position: relative;
    top: 2px;

}

#logo {
    width: 112px;
    height: 118px;
}

.sticky-logo {
    width: 50px;
    height: 50px;
}

/* Slider */

#slider {
    display: flex;
    z-index: 1;

}

.background {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 882px;
    left: 0px;
    top: 40px;
    background-image: linear-gradient(342.11deg, #000000 7.36%, rgba(40, 21, 21, 0) 57.67%), url('../static/img/Ready-stock/WEBP version/hero-banner_1.webp');
    z-index: -1;
    background-size: cover;
    overflow: hidden;
    border-radius: 0% 0% 50% 50% / 0% 0% 15% 15%;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.4);
}

.background-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: -1;
    background: linear-gradient(180deg, #D9D9D9 0%, #000000 0.01%, rgba(0, 0, 0, 0) 35.3%);
}

.slider {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    gap: 10%;
    padding: 0 50px;
    position: relative;
}

#slider .btn {
    display: flex;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 42%);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    padding: 14px;
    cursor: pointer;
    position: relative;
    bottom: 40px;


}

#slider #prev-button svg {
    position: relative;
    right: 2px;
    cursor: pointer;
}

#slider #next-button svg {
    position: relative;
    left: 1px;
    cursor: pointer;
}

.slider-container {
    width: 100%;
    /*height: 100%;*/
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    bottom: 44px;
}

.slider-container p,
.slider-container h1,
.slider-container h4 {
    font-family: 'Jost';
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
}

#main-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-container .text-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

#main-slider-text-heading {
    font-weight: 700;
    font-size: 140px;
    text-shadow: 10px 3px 60px #000000;
    text-transform: capitalize;
    letter-spacing: 4.2px;
    line-height: 100px;
    margin: 0 0 22px 0;
    padding: 45px 0 0 0;

}

#main-slider hr {
    width: 868px;
    height: 0px;
    border: 1.8px solid #9D0A0E;
}

#main-slider-text-subheading {

    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-shadow: 4px 4px 25px #1E1E1E;
    letter-spacing: 1.8px;
    text-transform: capitalize;
    margin: 20px 0 85px 0;
    padding: 0;
}

.slider-btn {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background-color: #9D0A0E;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.slider-btn:hover {
    background-color: #841114;
}

.slider-btn a {
    position: relative;
    height: 40px;
    top: 10px;
    left: 3px;
    padding: 5px 35px;
    font-family: 'Jost';
    font-weight: 700;
    font-style: normal;
    align-items: center;
    line-height: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
}

.main-slider-button {
    display: flex;
    align-items: center;
    gap: 24px;
}

#slider-1,
#slider-2,
#slider-3 {
    width: 100%;

    display: flex;
    padding: 48px 80px;
    flex-direction: column;
    align-items: center;
    gap: 10px;


    position: relative;

    background: rgba(0, 0, 0, 0.54);
    backdrop-filter: blur(5.5px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    border-radius: 20px;
    box-sizing: border-box;
}

#slider-1 h4,
#slider-2 h4,
#slider-3 h4 {
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Jost;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 1.35px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

#slider-1 h1,
#slider-2 h1,
#slider-3 h1 {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Jost;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 85px;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

#slider-1 p,
#slider-2 p,
#slider-3 p {
    color: #FFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: Jost;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.78px;
    padding: 0;
    margin: 0;
}

#slider-1 {
    display: none;
    flex-direction: column;
    align-items: center;
}

#slider-2 {
    display: none;
    flex-direction: column;
    align-items: center;
}

#slider-3 {
    display: none;
    flex-direction: column;
    align-items: center;
}


/* Top Destinations*/

#top-destinations {
    display: flex;
    flex: none;
    order: 3;
    flex-grow: 0;

    position: absolute;
    top: 750px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.06);
    width: 1132px;
    height: 228px;
    z-index: 1;
}

#top-destinations .row-1 {
    border-bottom: 3px solid #F4F4F4;
}

.row-1,
.row-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 114px;
}

#col-1,
#col-2 {
    border-right: 3px solid #F4F4F4;
}

#col-1,
#col-2,
#col-3 {
    width: 33.33%;
}

#top-destinations a {
    display: flex;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: capitalize;
    text-decoration: none;
    color: #262626;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}


/* </HEADER> */


/* <MAIN> */
main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .usa-flag {
    position: absolute;
    top: 2160px;
    left: 40px;

    width: 101px;
    z-index: -1;
}

main .main-flag2 {
    position: absolute;
    top: 2665px;
    right: 70px;

    width: 101px;
    height: 400px;
    z-index: -1;
}

/* About Section */

#about {
    display: inline-flex;
    width: 1320px;
    height: 631px;
    align-items: center;
    position: relative;
    gap: 120px;
}

#about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;

    width: 659px;
    padding-left: 80px;
    font-family: 'Jost';
    font-style: normal;
    line-height: normal;

}

#about-text h1 {
    leading-trim: both;
    text-edge: cap;
    color: #00355E;
    font-weight: 700;
    font-size: 42px;
    text-transform: capitalize;
    letter-spacing: 0.84px;
    margin: 0;
    padding: 0;
}

#about-text p {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.6px;
    margin: 0;
    padding: 0;
}

#about-img {
    width: 450px;
    height: 600px;
    display: flex;
    align-items: flex-start;
    position: relative;
}

#about-img img {
    width: 450px;
    height: 600px;
    border-radius: 39px;
drop-shadow(4 px 4 px 50 px rgba(0, 0, 0, 0.2));
}

#about-img #img-1 {
    position: absolute;
    /*bottom: 35px;*/
    /*left: 30px;*/
    z-index: 3;
}

#about-img #img-2 {
    position: absolute;
    top: 110px;
    left: 339px;
    z-index: 2;
}

#about-img .white-border {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 418px;
    height: 568px;
    border-radius: 39px;
    border: 3px solid #FFFFFF;
    box-shadow: 4px 4px 50px 0 rgba(0, 0, 0, 0.20);
}


/* Call-to-Action Section */

#cta-section {
    width: 100%;
    height: 683px;
    background-image: url('../static/img/Ready-stock/WEBP version/cta-section.webp');
    background-size: cover;
    margin-top: 180px;
}

#cta-background-gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(109deg, #000 0%, #01213B 32.19%, rgba(0, 53, 94, 0.00) 93.75%);
}

#cta-container {
    /*width: 50%;*/
    width: 710px;
    height: 366px;


    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;
    left: 80px;
    top: 150px;

    font-family: 'Jost';
    font-style: normal;
    color: #ffffff;
    font-weight: 600;
    text-edge: cap;

}

#cta-container h3 {
    font-size: 28px;
    line-height: 45px;
    letter-spacing: 0.84px;
    padding: 0px;
    margin: 0px;
}

#cta-container h1 {
    font-size: 55px;
    line-height: 60px;
    color: #E56F72;
    letter-spacing: 1.65px;
    font-width: 600;
    padding: 0px;
    margin: 0px;
}

#cta-subheading {
    font-size: 27px;
    line-height: 38px;
    letter-spacing: 0.81px;
    font-weight: 400;
    padding: 0px;
    margin: 0px;
}

#cta-subtext {
    width: 515px;
    font-size: 20px;
    font-weight: 400;
}

/* OFFERS Section*/

#offers {
    /*width: 100%;*/
    /*margin-bottom: 30px;*/
    margin-top: 90px;

    font-family: 'Jost';
    font-style: normal;
    line-height: normal;
    font-weight: 500;
    letter-spacing: 0.54px;
    text-transform: capitalize;

    display: flex;

    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#offers-top-row {
    /*width: 90%;*/
    padding: 0px 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

#offers-section-header {
    display: flex;
    align-items: flex-start;
}

#offers-section-header h1 {
    color: #00355E;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.84px;

    margin: 0;
    padding: 0;
}

#offers-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /*justify-content: center;*/
    gap: 8px;
}

#offers-buttons .btn {
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 22%);
    transition: background-color 0.3s ease;
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    padding: 10px;
    cursor: pointer;
}

#offers-buttons .btn:hover {
    background-color: rgba(0, 53, 94, 100%);
}

#offers-buttons .btn svg path {
    stroke: #757575;
}

#offers-buttons .btn svg:hover path {
    stroke: #ffffff;
}

.offer-slides {
    /*flex-wrap: wrap;*/
    /*width: 100%;*/
    /*flex-direction: row;*/
    /*justify-content: space-evenly;*/

    display: flex;
    align-items: flex-start;
    /*gap: 59px;*/
}

.offer-slides .row {
    /*width: 100%;*/
    height: auto;
    display: flex;
    align-self: flex-start;
    /*flex-direction: row;*/
    /*justify-content: center;*/
    gap: 59px;

}

.offer-slides .offer-slide {
    border-radius: 20px;
    width: 347px;
    height: 460px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.10);

    background-color: white;
}

.offer-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;


}

.curve-line .white-border {
    position: relative;
    bottom: 97.5%;
    left: 3.6%;
    width: 91.5%;
    height: 93%;
    border-radius: 20px;
    border: 2px solid white;
}

.curve-line {
    width: 100%;
    height: 100%;
    border-radius: 0% 0% 50% 50% / 0% 0% 15% 15%;
    overflow: hidden;
}

.curve-line img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.offer-btn {
    display: inline-flex;
    align-items: flex-start;
    height: 37px;
    gap: 10px;

    position: relative;
    bottom: 25px;
    box-sizing: border-box;
    background-color: #9D0A0E;
    border-radius: 8px;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.offer-btn a {
    /*display: flex;*/
    font-family: 'Jost';
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    /*align-items: center;*/
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.offer-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;

}

.offer-header {
    padding: 0;
    padding-bottom: 15px;
    margin: 0;
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #00355E;

}

.offer-location {
    padding: 0px;
    margin: 0px;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #000000;
}

.offer-type {
    padding: 0 0 35px 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.23px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #000000;
}

.offer-salary {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    line-height: 28.9px;
    letter-spacing: 0.03em;
    font-weight: 700;
    color: #000000;
}

#offers-more-btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 100px;

}


/* Video Section*/

#video-section {
    width: 100%;
    height: 1100px;
    padding-top: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background: linear-gradient(112.04deg, #000000 0.49%, #001A2E 54.39%, #000000 100%);

    border-radius: 0% 0% 50% 50% / 0% 0% 15% 15%;


    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;


}

#main-video {
    width: 924px;
    height: 514px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    margin-bottom: 170px;

}

#main-video a {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;
    background: linear-gradient(0.67deg, rgba(0, 0, 0, 0.8) 0.48%, rgba(0, 0, 0, 0) 99.46%), rgba(1, 49, 86, 0.45);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.fancy-background {
    position: absolute;
    width: 100%;
    height: 100%;

    background: linear-gradient(0.67deg, rgba(0, 0, 0, 0.8) 0.48%, rgba(0, 0, 0, 0) 99.46%), rgba(1, 49, 86, 0.45);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    overflow: hidden;
}

.glightbox2 {
    overflow: hidden;
}

.glightbox2 img {
    width: 100%;
    height: 100%;


}

.glightbox2 .white-border {
    display: flex;
    width: 97%;
    height: 95%;
    position: absolute;
    top: 10px;
    left: 10px;

    border: 1px solid white;
    border-radius: 15px;
}

.white-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 1px solid #ffffff;

    position: absolute;
    top: 39%;
    left: 44%;

}

.play-button {

    /* transform: translate(-50%, -50%); */
    width: 128px;
    height: 128px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.inner-circle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 116px;
    height: 116px;
    border-radius: 100%;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(1px);
}

#main-video-logo img {
    width: 62px;
    height: 62px;

    position: absolute;
    top: 33px;
    left: 33px;
}

#main-video-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    position: absolute;
    bottom: 8px;
    left: 41px;
}

.vertical-line::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 25px;
    background-color: #9D0A0E;
    margin-right: 5px;
}

#main-video-details p {
    color: #ffffff;
    text-decoration: none;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.96px;
    padding-left: 5px;
}

#sub-videos {
    position: relative;
    right: 130px;
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 110px;
}

.subvideo-logo img {
    width: 42px;
    height: 42px;

    position: absolute;
    top: 33px;
    left: 33px;
}

.subvideo .white-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #ffffff;

    position: absolute;
    top: 39%;
    left: 44%;

}

.subvideo .play-button {

    /* transform: translate(-50%, -50%); */
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.subvideo .inner-circle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 54px;
    height: 54px;
    border-radius: 100%;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.28);
    backdrop-filter: blur(1px);
}

#sub-videos p {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 22px;
}

.subvideo {
    width: 536px;
    height: 301.56px;
    position: absolute;
}

.subvideo a img {
    background: linear-gradient(0.67deg, rgba(0, 0, 0, 0.8) 0.48%, rgba(0, 0, 0, 0) 99.46%), rgba(1, 49, 86, 0.45);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.subvideo:hover {
    width: 636px;
    height: 401.56px;
    z-index: 6;
    transition: 0.5s ease-in-out;
}

.subvideo .glightbox2 .white-border {
    width: 94%;
    height: 92%;
}

.sub1 {
    left: 0%;
    z-index: 1;
}

.sub2 {
    left: 20%;
    z-index: 2;
}

.sub3 {
    left: 40%;
    z-index: 3;
}

.sub4 {
    left: 60%;
    z-index: 4;
}

.sub5 {
    left: 80%;
    z-index: 5;
}

#video-more-btn {
}


/* News */

#news-section {
    width: 100%;
    height: 980px;
    display: flex;
    flex-direction: column;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #00355E;

    margin-bottom: 0px;
    padding-bottom: 0px;
}

.news-date {
    font-weight: 400;
    font-size: 14px;
    color: #767676;
    margin: 20px 0 0 0;
}

#last-4-news .news-date {
    margin: 0px;
    font-size: 13px;
}

#news-heading {
    display: flex;
    margin: 0px;
}

#heading-news {
    display: flex;
    padding-left: 7%;
    font-size: 36px;
    text-transform: capitalize;
    color: #00355E;
}

#news {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#news h2 {
    font-size: 28px;
}

#news h3 {
    font-size: 19px;
    font-weight: 500;
    margin: 0px;
}

#last-news {
    width: 43%;
    margin: 0 25px 0 55px;
}

#last-news-img {
    position: relative;
    border: 1px solid white;
    border-radius: 20px;

}

#last-news-img .white-border {
    position: absolute;
    bottom: 5.5%;
    left: 2.1%;
    width: 85.5%;
    height: 89.8%;
    border-radius: 20px;
    border: 1px solid white;
}

#last-news-img img {
    width: 90%;
    height: 350px;
    border-radius: 20px;
}

#last-news-main-content {
    width: 92%;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.news-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.last-4-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#last-4-news {
    width: 43%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#last-4-news img {
    width: 100%;
    height: 70%;
    padding-right: 10px;
    border-radius: 18px;
}

.last-img {
    position: relative;
}

.last-img .white-border {
    position: absolute;
    bottom: 10.5%;
    left: 5.2%;
    width: 89%;
    height: 81%;
    border-radius: 15px;
    border: 1px solid white;
}

#last-4-news a {
    font-weight: 400;
    font-size: 16px;
    color: #9D0A0E;
}

#news-button {
    display: flex;
    justify-content: center;
}

#news-more-btn {
    display: flex;
    justify-content: center;
    margin: 50px 0px;

}

/* Pricing section */

#pricing-section {
    margin-top: 0px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 550px;
    background: linear-gradient(91.22deg, #841114 -0.68%, #9D0A0E 51.53%, #841114 100.57%);

    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.03em;
    color: white;
}

#pricing-text {
    margin-top: 0px;
    padding-top: 0px;
    width: 34.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#pricing-text h1 {
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 50px;
    margin: 0px;
}

#pricing-text h4 {
    letter-spacing: 0.05em;
    font-size: 23px;
    font-weight: 500;
    margin: 0px;
}

#pricing-text p {
    line-height: 29px;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

.pricing-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 30px;
    height: 50px;
    margin-bottom: 40px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1.5px solid white;
    border-radius: 8px;
    cursor: pointer;
}

.pricing-btn a {
    display: flex;
    height: 40px;
    font-family: 'Jost';
    font-style: normal;
    align-items: center;
    font-size: 12px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

/* Story Section */

#story-section {
    width: 100%;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #00355E;
}

#story-heading {
    padding-top: 15px;
    font-size: 36px;
    line-height: 54px;
    text-transform: capitalize;
    margin: 0px;
    padding: 0px;

}

#story {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 80px;
}

.story-container {
    width: 25%;
}

.story-img img {
    width: 350px;
    height: 250px;
    border-radius: 20px;
}

.story-img {
    position: relative;

}

.story-img .white-border {
    position: absolute;
    bottom: 7%;
    left: 3.5%;
    width: 95%;
    height: 88%;
    border-radius: 20px;
    border: 1px solid white;
}

.story-text h3 {
    font-weight: 500;
    font-size: 20px;
}

.story-text p {
    font-weight: 400;
    font-size: 16px;
    color: #1D1D1D;;
}

.story-text a {
    font-weight: 400;
    font-size: 16px;
    color: #9D0A0E;

}

#story-2 {
    position: relative;
    top: 80px;
}

#story-button {
    margin-top: 100px;
}

/* Services Section */

#service-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0px;

}

#service-container {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FAFAFA;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

}

#service-container .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px 0px;

}

.service {
    width: 30%;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.03em;
}

#service-container .row .service {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.service .icon {
    width: 42px;
    height: 42px;
    position: relative;
    background-color: #F0F0F0;
    border: 1px solid #FFFFFF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

.service .icon img {
    position: relative;
    bottom: 30px;
    width: 70px;
    height: 70px;

}

.service .service-header h1 {
    font-weight: 450;
    font-size: 1.0em;
    color: #00355E;
    margin: 10px 0 5px 0;
}

.service .service-description p {
    font-weight: 400;
    font-size: 0.93em;
    color: #000000;
    margin: 0px;
}


/* </MAIN> */

/* <FOOTER> */

footer {
    width: 100%;
    height: auto;
    background-color: #01182B;
    padding: 50px 30px 5px 30px;
    box-sizing: border-box;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    margin-top: 140px;
}

footer .usa-flag {
    position: absolute;
    right: 70px;
    top: -170px;
    z-index: -1;
}

#footer-nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
}

#logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-bottom: 50px;
}

#logo-container img {
    width: 330px;
    height: 120px;
    padding: 0px;
    margin: 0px;
}

#logo-container p {
    font-weight: 500;
    font-size: 25px;
    padding: 0px;
    margin: 0px;
}

.nav-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-container h1 {
    font-size: 18px;
}

.nav-container a,
.nav-container p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: white;
    text-decoration: none;
}

.nav-container p {
    padding: 0px;
    margin: 0px;
    text-decoration: underline;
}

#phone-details {
    display: flex;
    gap: 5px;
}

#email-details {
    display: flex;
    gap: 5px;
    color: white;
}

#horizontal-line {
    padding: 0 50px;
}

#footer-link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 50px;
    width: 100%;
}

#footer-link-container #footer-text p {
    font-weight: 400;
    font-size: 18px;
}

#footer-links-icons {
    display: flex;
    flex-direction: row;
}

#footer-right-links-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 10px; */
}

#footer-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#footer-login a {
    font-family: 'Sofia Sans', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #ECECEC;
}


#footer-right-links-icons #insta-link,
#footer-right-links-icons #fb-link,
#footer-right-links-icons #youtube-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}


/* </FOOTER> */


/* Additional */

.under-construction {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin-top: 150px;
}

.under-construction-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 150px;
    background: rgba(0, 0, 0, 42%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-sizing: border-box;
}

.under-construction-container h1 {
    font-family: 'Jost', serif;
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.03em;
    font-size: 56px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* JOB OFFERS PAGE */

.offers-background {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 656px;
    left: 0px;
    top: 40px;
    z-index: 1;
    background-image: linear-gradient(342.11deg, #000000 7.36%, rgba(40, 21, 21, 0) 57.67%), url('../static/img/Ready-stock/WEBP version/offers_page.jpg');
    background-size: cover;
    overflow: hidden;
    border-radius: 0% 0% 50% 50% / 0% 0% 15% 15%;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.4);


    color: #FFF;
    text-align: center;
    text-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.98);
    font-size: 22px;
    font-family: Jost, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
}

#offers-header-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-container {
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    z-index: 1;
}

#text-container h1 {
    color: white;
    font-size: 58px;
    font-weight: 550;
}

#text-container p {
    position: relative;
    bottom: 60px;
    width: 38%;
    color: white;
    font-size: 20px;
    font-weight: 350;
}


#offers-video {
    position: absolute;
    top: 450px;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    z-index: 1;
}

#main-offers-video {
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

#main-offers-video .fancy-background {
    background: linear-gradient(0.67deg, rgba(0, 0, 0, 0.3) 0.28%, rgba(0, 0, 0, 0) 50%), rgba(1, 49, 86, 0.25);
}

#main-offers-video a {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;
    background: linear-gradient(0.67deg, rgba(0, 0, 0, 0.8) 0.48%, rgba(0, 0, 0, 0) 99.46%), rgba(1, 49, 86, 0.45);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#main-offers-video-logo img {
    width: 30px;
    height: 30px;

    position: absolute;
    top: 20px;
    left: 20px;
}

#main-offers-video-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    position: absolute;
    bottom: 0px;
    left: 20px;
}

#main-offers-video-details p {
    color: #ffffff;
    text-decoration: none;
    font-size: 32px;
}

#offers-page-flag1 {
    position: absolute;
    top: 490px;
    right: 70px;

    width: 101px;
    height: 400px;
    z-index: -1;

}

/* OFFERS FILTERING */

#offers-page-top-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 180px;
}

.text-area {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #00355E;
    font-family: Jost;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.3px;
}

.text-area h1 {
    font-size: 36px;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    margin: 16px 0px;

}

.text-area h1 span {
    color: #9D0A0E;
    text-decoration: underline;
}

.text-area p {
    margin: 0px;
    width: 80%;
    font-weight: 550;
    font-size: 16px;
    text-align: center;
    text-transform: none;
}

.text-area p span {
    color: #9D0A0E;
    text-decoration: underline;
}

#offers-page-top-row .filter-row {
    display: flex;
    margin-top: 35px;
    margin-bottom: 50px;
}

#offers-page-top-row .filter-row #offer-page-filters {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#offer-page-filters .dropdown {
    position: relative;
    display: flex;
}

#offer-page-filters .offer-filters {
    /*display: flex;*/
    /*flex-direction: row;*/
    align-items: center;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
    border: 1px solid #b9bcc0;
    border-radius: 10px;
    padding: 2px 10px;
    background: rgba(160, 160, 160, 0.1);
}


#offer-page-filters button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: Jost;
    font-style: normal;
    font-weight: 550;
    line-height: 20px;
    letter-spacing: 1px;
    border: none;
    background: none;
}

#offer-page-filters .icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-left: 3px;

    color: #000000;

}

#offer-page-filters .tooltip {
    left: 50%;
    background: #FFFFFF;
    z-index: 50;
}

#offer-page-filters .tooltip::before {
    border: none;
}

/* OFFERS */
/* see above section OFFERS */

/* PAGINATOR */

.pagination {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.pagination a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

.pagination .current-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #FFFFFF;
    background: #00355E;
    border-radius: 50%;
}

/* CONTACT FORM */

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;

    gap: 25px;
}

.query-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #00355E;
    font-size: 18px;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0px;
}

.sub-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 15px;
}

.form-field-semi {
    width: 300px;
    height: 25px;
    background: #FBFCFF;
    border: 1px solid #B9BCC0;
    border-radius: 5px;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.06);
}

.form-field-text {
    width: 640px;
    height: 100px;
    background: #FBFCFF;
    border: 1px solid #B9BCC0;
    border-radius: 5px;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.06);
}

.query-btn {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 35px;
    background: #9D0A0E;
    border-radius: 5px;
    box-shadow: none;
}

.query-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-part button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 12px;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
}

#message-section {
    background: #FFFFFF;
    border-radius: 14px;
    position: absolute;
    top: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    z-index: 60;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.4);
}

#message-section .message-frame {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-frame #success-message {
    color: #00355E;
    font-size: 42px;
    font-family: Jost;
    font-style: normal;
    font-weight: 700;
}