{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIM Travel</title>

    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="{% static "node_modules/glightbox/dist/css/glightbox.min.css" %}">
    <script src="{% static "node_modules/glightbox/dist/js/glightbox.min.js" %}"></script>

</head>

<body id="offer-details-page">
<header id="offer-details-header">
    {% include 'navigation.html' %}

    <section id="offers-header">
        <div class="background">
            <div class="background-gradient" id="offers-header-sub">
            </div>
        </div>
    </section>


</header>
<img id="offer-details-page-flag1" class="usa-flag" src="{% static "img/USA Flag.png" %}" alt="">
{% block content %}

{% endblock %}

{% include 'footer.html' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{% static "javascript/js_filtering.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/js_dropdown.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/js_feedback_slider.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/js_navbar.js" %}"></script>
<script type="text/javascript" src="{% static "javascript/js_video.js" %}"></script>
</body>

</html>






