{% load static %}

<footer>
    <img class="usa-flag" src="{% static 'img/USA Flag.png' %}" alt="">
    <div id="footer-nav-container">
        <div id="logo-container">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/AIM_logo 1.webp' %}" alt="">
            </a>
            <p>Work Hard Travel Far</p>
        </div>
        <div class="nav-container">
            <h1>БЪРЗИ ВРЪЗКИ</h1>
            <a href="{% url 'index' %}">Начало</a>
            <a href="{% url 'index' %}#about">За нас</a>
            <a href="{% url 'offers' %}">Работни оферти</a>
            <a href="{% url 'news' %}">Блог</a>
            <a href="{% url 'contacts' %}">Контакти</a>
        </div>
        <div class="nav-container">
            <h1>БРИГАДА В САЩ</h1>
            <a href="{% url 'wat usa' %}#header-nav">Бригадата</a>
            <a href="{% url 'wat usa' %}#anchor-requirements">Изисквания</a>
            <a href="{% url 'wat usa' %}#price-section">Цената</a>
            <a href="{% url 'wat usa' %}#anchor-how-to">Как да се запишеш?</a>

        </div>
        <div class="nav-container">
            <h1>ОНЛАЙН УСЛУГИ</h1>
            <a href="{% url 'online' %}#online-free-anchor">Безплатна консултация</a>
            <a href="{% url 'online' %}#online-register-anchor">Регистрация за бригада</a>
            <br>
            <div id="phone-details">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="24px" height="24px" stroke-width="1.5"
                     viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                    <path
                            d="M18.118 14.702L14 15.5c-2.782-1.396-4.5-3-5.5-5.5l.77-4.13L7.815 2H4.064c-1.128 0-2.016.932-1.847 2.047.42 2.783 1.66 7.83 5.283 11.453 3.805 3.805 9.286 5.456 12.302 6.113 1.165.253 2.198-.655 2.198-1.848v-3.584l-3.882-1.479z"
                            stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                </svg>
                <a href="tel:0889966583">
                    +359 88 99 66 583
                </a>
            </div>
            <div id="email-details">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="24px" height="24px" stroke-width="1.5"
                     viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#FFFFFF">
                    <path d="M7 9l5 3.5L17 9" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M2 17V7a2 2 0 012-2h16a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2z" stroke="#FFFFFF"
                          stroke-width="1.5"></path>
                </svg>
                <a href="mailto:studentski@aimtravel.bg">studentski@aimtravel.bg</a>
            </div>
        </div>
        <div class="nav-container">
            <h1>ДРУГИ УСЛУГИ</h1>
            <a href="{% url "internship" %}">Лагер / Стаж САЩ</a>
{#            <a href="{% url "h2b-for-non-students" %}">Работа за нестуденти (Н2В Виза)</a>#}
            <a href="#">Самолетни билети</a>
            <a href="{% url 'taxes' %}">Данъци в САЩ</a>
            <a href="{% url "taxes" %}">Данъци</a>
        </div>
    </div>
    <div id="horizontal-line">
        <hr>
    </div>
    <div id="footer-link-container">
        <div id="footer-text">
            <p>Copyright © <span>AIM Travel USA</span> 2023. Всички права запазени.</p>
        </div>
        <div id="footer-links-icons">

            <div id="footer-right-links-icons">
                <div id="footer-login">
                    <a id="footer-login-p1" href="#">Login</a>

                </div>
                <div class="vl">
                    <hr>
                </div>
                <div id="insta-link">
                    <a href="https://www.instagram.com/aimtravel_usa/" target="_blank">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" stroke-width="1.5"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M12 16a4 4 0 100-8 4 4 0 000 8z" stroke="#FFFFFF" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M3 16V8a5 5 0 015-5h8a5 5 0 015 5v8a5 5 0 01-5 5H8a5 5 0 01-5-5z"
                                  stroke="#FFFFFF" stroke-width="1.5"></path>
                            <path d="M17.5 6.51l.01-.011" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round"></path>
                        </svg>
                    </a>

                </div>
                <div class="vl">
                    <hr>
                </div>
                <div id="fb-link">
                    <a href="https://www.facebook.com/profile.php?id=100072235954652" target="_blank">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" stroke-width="1.5"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M17 2h-3a5 5 0 00-5 5v3H6v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3V2z"
                                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round">
                            </path>
                        </svg>
                    </a>

                </div>
                <div class="vl">
                    <hr>
                </div>
                <div id="youtube-link">
                    <a href="https://www.youtube.com/@aimtravel9347" target="_blank">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" stroke-width="1.5"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M14 12l-3.5 2v-4l3.5 2z" fill="#000000" stroke="#FFFFFF" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"></path>
                            <path
                                    d="M2 12.707v-1.415c0-2.895 0-4.343.905-5.274.906-.932 2.332-.972 5.183-1.053C9.438 4.927 10.818 4.9 12 4.9c1.181 0 2.561.027 3.912.065 2.851.081 4.277.121 5.182 1.053.906.931.906 2.38.906 5.274v1.415c0 2.896 0 4.343-.905 5.275-.906.931-2.331.972-5.183 1.052-1.35.039-2.73.066-3.912.066-1.181 0-2.561-.027-3.912-.066-2.851-.08-4.277-.12-5.183-1.052C2 17.05 2 15.602 2 12.708z"
                                    stroke="#FFFFFF" stroke-width="1.5"></path>
                        </svg>
                    </a>

                </div>
                <div class="vl">
                    <hr>
                </div>
                <div class="tiktok-link">
                    <a href="https://www.tiktok.com/@aim_travelusa" target="_blank">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" stroke-width="1.5"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M21 8v8a5 5 0 01-5 5H8a5 5 0 01-5-5V8a5 5 0 015-5h8a5 5 0 015 5z"
                                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round">
                            </path>
                            <path d="M10 12a3 3 0 103 3V6c.333 1 1.6 3 4 3" stroke="#FFFFFF" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>


            </div>

        </div>
    </div>
    <div id="footer-responsive">
        <div id="logo-container">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/AIM_logo 1.webp' %}" alt="">
            </a>
            <p>Work Hard Travel Far</p>
        </div>
        <div id="horizontal-line">
            <hr>
        </div>
        <div id="footer-contacts">
            <h4>Свържи се с нас</h4>
            <p>София, Студентски Град, ул. Йордан Йосифов №2, (До Bamboo и Joy Station)</p>
            <a href="mailto:studentski@aimtravel.bg">studentski@aimtravel.bg</a>
            <a href="tel:0889966583">+359 889 96 65 83</a>
            <br>
            <p>Варна, бул. Цар Освободител №19</p>
            <a href="mailto:varna@aimtravel.bg">varna@aimtravel.bg</a>
            <a href="tel:0878630072">+359 878 63 00 72</a>

        </div>
        <br>
        <div id="footer-links-icons">

            <div id="footer-right-links-icons">
                <div id="insta-link">
                    <a href="https://www.instagram.com/aimtravel_usa/" target="_blank">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" stroke-width="1.5"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M12 16a4 4 0 100-8 4 4 0 000 8z" stroke="#FFFFFF" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M3 16V8a5 5 0 015-5h8a5 5 0 015 5v8a5 5 0 01-5 5H8a5 5 0 01-5-5z"
                                  stroke="#FFFFFF" stroke-width="1.5"></path>
                            <path d="M17.5 6.51l.01-.011" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round"></path>
                        </svg>
                    </a>

                </div>
                <div class="vl">
                    <hr>
                </div>
                <div id="fb-link">
                    <a href="https://www.facebook.com/profile.php?id=100072235954652" target="_blank">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" stroke-width="1.5"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M17 2h-3a5 5 0 00-5 5v3H6v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3V2z"
                                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round">
                            </path>
                        </svg>
                    </a>

                </div>
                <div class="vl">
                    <hr>
                </div>
                <div id="youtube-link">
                    <a href="https://www.youtube.com/@aimtravel9347" target="_blank">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" stroke-width="1.5"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M14 12l-3.5 2v-4l3.5 2z" fill="#000000" stroke="#FFFFFF" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"></path>
                            <path
                                    d="M2 12.707v-1.415c0-2.895 0-4.343.905-5.274.906-.932 2.332-.972 5.183-1.053C9.438 4.927 10.818 4.9 12 4.9c1.181 0 2.561.027 3.912.065 2.851.081 4.277.121 5.182 1.053.906.931.906 2.38.906 5.274v1.415c0 2.896 0 4.343-.905 5.275-.906.931-2.331.972-5.183 1.052-1.35.039-2.73.066-3.912.066-1.181 0-2.561-.027-3.912-.066-2.851-.08-4.277-.12-5.183-1.052C2 17.05 2 15.602 2 12.708z"
                                    stroke="#FFFFFF" stroke-width="1.5"></path>
                        </svg>
                    </a>

                </div>
                <div class="vl">
                    <hr>
                </div>
                <div class="tiktok-link">
                    <a href="https://www.tiktok.com/@aim_travelusa" target="_blank">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" stroke-width="1.5"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M21 8v8a5 5 0 01-5 5H8a5 5 0 01-5-5V8a5 5 0 015-5h8a5 5 0 015 5z"
                                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round">
                            </path>
                            <path d="M10 12a3 3 0 103 3V6c.333 1 1.6 3 4 3" stroke="#FFFFFF" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>


            </div>
        </div>
        <div class="nav-container">
            <h4>Бързи връзки</h4>
            <a href="{% url 'index' %}">Начало</a>
            <a href="{% url 'index' %}#about">За нас</a>
            <a href="{% url 'offers' %}">Работни оферти</a>
            <a href="{% url 'news' %}">Блог</a>
            <a href="{% url 'contacts' %}">Контакти</a>
        </div>
        <div id="footer-text">
            <p>Copyright © <span>AIM Travel USA</span> 2023. Всички права запазени.</p>
        </div>
    </div>
</footer>