{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIM Travel - Work and Travel USA</title>
    <meta name="description"
          content="Discover the ultimate work and travel experience in the USA with AIM Travel. Join students and non-students for a summer adventure filled with unforgettable moments, finding new friends and make some money. Sign up now!">
    <meta name="keywords"
          content="Work, Travel, USA, Money, Summer, Vacation, Job, Job Offer, Housing, Overtime, Fun, Happy">
    <meta name="cta-action" content="Sign Up Now for an Adventure">

    <meta property="og:title"
          content="USA Work and Travel Program | AIM Work and Travel | Earn Money, Explore, and Have Fun">
    <meta property="og:description"
          content="Discover the ultimate work and travel experience in the USA with AIM Work and Travel. Join students and non-students for a summer adventure filled with unforgettable moments, finding new friends and make some money. Sign up now!">
    <meta property="og:image" content="{% static "img/thumbnail.jpg" %}">
    <meta property="og:url" content="https://www.aimtravel.bg">

    <link rel="icon" type="image/x-icon" href="../templates/favicon.ico">

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/node_modules/glightbox/dist/css/glightbox.min.css">
    <script src="../static/node_modules/glightbox/dist/js/glightbox.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QS8LXF1MN1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-QS8LXF1MN1');
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-825631983"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'AW-825631983');
    </script>
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '489738488628741');
        fbq('track', 'PageView');
    </script>
    <noscript><img alt='' height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=489738488628741&ev=PageView&noscript=1"
    /></noscript>


</head>

<body>
<header>
    {% include 'navigation.html' %}

    <section id="slider">
        <div class="background" id="background">
            <div class="background-gradient">
                <div class="slider">
                    <div class="btn" id="prev-button">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" stroke-width="1.5"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M15 6l-6 6 6 6" stroke="#FFF" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round"></path>
                        </svg>
                    </div>

                    <div class="slider-container">

                        <div id="main-slider">
                            <div class='text-container'>
                                <p id="main-slider-text-heading">AIM TRAVEL</p>
                                <hr>
                                <p id="main-slider-text-subheading">Work & Travel Agency</p>
                            </div>
                            <div class="slider-btn">
                                <a href="https://calendly.com/aimtravelusa/consultation" target="_blank">
                                    <script>
                                        function gtag_report_conversion(url) {
                                            var callback = function () {
                                                if (typeof (url) != 'undefined') {
                                                    window.location = url;
                                                }
                                            };
                                            gtag('event', 'conversion', {
                                                'send_to': 'AW-825631983/UYIiCLOC--gYEO_J2IkD',
                                                'event_callback': callback
                                            });
                                            return false;
                                        }</script>
                                    <script type="text/javascript">
                                        $('#$addToCartButton').click(function () {
                                            fbq('track', 'SubmitApplication');
                                        });
                                    </script>

                                    БЕЗПЛАТНА КОНСУЛТАЦИЯ</a>
                            </div>
                        </div>

                        <div id="slider-1" class="slider1">
                            <h4>ПРОМО</h4>
                            <h1>СТУДЕНТСКА БРИГАДА В САЩ</h1>
                            <p>ПРОМО ОФЕРТА - ВАЖИ ДО 31 ОКТОМВРИ 2023</p>
                            <p><span style="text-decoration: line-through;">100$</span> ОТСТЪПКА</p>
                            <div class="slider-btn" id="slider-1-button">
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTrITzNwfLpNJoHx6gy6zZVOuPaW_CMZoHt08SfdxepdNzeQ/viewform"
                                   target="_blank">
                                    <script>
                                        function gtag_report_conversion(url) {
                                            var callback = function () {
                                                if (typeof (url) != 'undefined') {
                                                    window.location = url;
                                                }
                                            };
                                            gtag('event', 'conversion', {
                                                'send_to': 'AW-825631983/ogJ3CLaC--gYEO_J2IkD',
                                                'event_callback': callback
                                            });
                                            return false;
                                        }
                                    </script>
                                    <script type="text/javascript">
                                        $('#$addToCartButton').click(function () {
                                            fbq('track', 'Subscribe');
                                        });
                                    </script>
                                    ЗАПИШИ СЕ</a>
                            </div>
                        </div>
                        <div id="slider-2">
                            <h4>AIM TRAVEL</h4>
                            <h1>КАТАЛОГ</h1>
                            <p>Вече имаме каталог с полезна информация за програмта Work and Travel USA. В него ще
                                намерите всичко полезно за Бригадата в САЩ на едно място!</p>
                            <div class="slider-btn" id="slider-2-button">
                                <a href="https://drive.google.com/file/d/1VkFgn1FTbVhwV94Skh_hRjUywY1asJEA/view?usp=sharing">СВАЛИ
                                    БЕЗПЛАТНО</a>
                            </div>
                        </div>
                        <div id="slider-3">
                            <h4>AIM TRAVEL</h4>
                            <h1>БУТИКОВА АГЕНЦИЯ</h1>
                            <p>Предлагаме специално подбрани, премиум оферти за работа, от наш представител на
                                място, който се среща директно с работодателите от много години насам. Неговият опит
                                и лични контакти, му позволяват да намери най-добре платените места за работа, тъй
                                като си е изградил вътрешна мрежа от работодатели.</p>
                            <div class="slider-btn" id="slider-3-button">
                                <a href="{% url 'offers' %}">Премиум Работни Оферти</a>
                            </div>
                        </div>
                    </div>

                    <div class="btn" id="next-button">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" stroke-width="1.5"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M9 6l6 6-6 6" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="top-destinations">
        <div id="col-1">

            <a href="{% url 'offers' %}#offers-section" class="row-1">
                <p>📍 Provincetown</p>
            </a>
            <a href="{% url 'offers' %}#offers-section" class="row-2">
                <p>📍 New Jersey</p>
            </a>
        </div>
        <div id="col-2">
            <a href="{% url 'offers' %}#offers-section" class="row-1">
                <p>📍 Nantucket</p>
            </a>
            <a href="{% url 'offers' %}#offers-section" class="row-2">
                <p>📍 California</p>
            </a>
        </div>
        <div id="col-3">
            <a href="{% url 'offers' %}#offers-section" class="row-1">
                <p>📍 Maine</p>
            </a>
            <a href="{% url 'offers' %}#offers-section" class="row-2">
                <p>📍 Florida</p>

            </a>
        </div>
    </section>

</header>
<img class="usa-flag" src="{% static 'img/USA Flag.png' %}" alt="">

<main>

    <section id="about-section">
        <div id="about">
            <div id="about-text">
                <h1>Work Hard Travel Far</h1>
                <p>Мотото на Aim Travel, произлиза от създателите на фирмата. Заминавайки именно с този принцип на
                    бригада преди години, те успяват да постигнат и открият много за Америка и да основат Aim Travel,
                    за
                    да предават успеха си на следващите записали се за бригада.
                </p>
                <p>
                    Това е призмата, през която Aim Travel пречупва програмата Work and Travel, което означава, че
                    фирмата ще ти осигури най-добрите условия да работиш, да се докажеш, да постигаш и след това да
                    пътуваш, да откриваш, да инвестираш в себе си. "The sky is the limit", както гласи една
                    американска
                    поговорка. Възможностите са неограничени и всичко зависи само от теб - какво ще направиш, какво
                    ще
                    постигнеш, какво ще откриеш и как това ще те промени за едно лято, като човек, личност, житейски
                    опит. Разбери възможностите си и открий какво можеш. С преживяването и опитa, който ще
                    натрупаш, ще
                    имаш истории за разказване през целия си живот. Сега е моментът!</p>
                <div class="slider-btn resp">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTrITzNwfLpNJoHx6gy6zZVOuPaW_CMZoHt08SfdxepdNzeQ/viewform"
                       target="_blank">
                        <script>
                            function gtag_report_conversion(url) {
                                var callback = function () {
                                    if (typeof (url) != 'undefined') {
                                        window.location = url;
                                    }
                                };
                                gtag('event', 'conversion', {
                                    'send_to': 'AW-825631983/ogJ3CLaC--gYEO_J2IkD',
                                    'event_callback': callback
                                });
                                return false;
                            }
                        </script>
                        <script type="text/javascript">
                            $('#$addToCartButton').click(function () {
                                fbq('track', 'Subscribe');
                            });
                        </script>
                        ЗАПИШИ СЕ ЗА БРИГАДА</a>
                </div>
            </div>

            <div id="about-img">
                <div id="img-1">
                    <img src="../static/img/Ready-stock/WEBP%20version/about_1.webp" alt="img-1">
                    <div class="white-border"></div>
                </div>
                <div id="img-2">
                    <img src="../static/img/Ready-stock/WEBP%20version/about_2.webp" alt="img-2">
                    <div class="white-border"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="cta-section">
        <div id="cta-background-gradient">
            <div id="cta-container">
                <h3>ВСЕ ОЩЕ НЕ СТЕ СИГУРНИ?</h3>
                <h1>НЕ СЕ ПРИТЕСНЯВАЙТЕ!</h1>
                <h3 id="cta-subheading">НИЕ СМЕ НАСРЕЩА!</h3>
                <div id="cta-subtext">
                    <p>Ако искате да получите помощ от специалист на AIM Travel, можете да се запишете за
                        безплатна онлайн консултация или посети някой от нашите офиси, където ще имате възможност да
                        зададете всичките си въпроси и да получите
                        квалифициран
                        отговор.</p>
                </div>
                <div class="slider-btn">
                    <a href="https://calendly.com/aimtravelusa/consultation" target="_blank">
                        <script>
                            function gtag_report_conversion(url) {
                                var callback = function () {
                                    if (typeof (url) != 'undefined') {
                                        window.location = url;
                                    }
                                };
                                gtag('event', 'conversion', {
                                    'send_to': 'AW-825631983/UYIiCLOC--gYEO_J2IkD',
                                    'event_callback': callback
                                });
                                return false;
                            }
                        </script>
                        <script type="text/javascript">
                            $('#$addToCartButton').click(function () {
                                fbq('track', 'SubmitApplication');
                            });
                        </script>
                        БЕЗПЛАТНА КОНСУЛТАЦИЯ</a>
                </div>
                <div id="pagination-anchor"></div>
            </div>
        </div>
    </section>
    <section id="offers">
        <div id="offers-top-row">
            <div id="offers-section-header">
                <h1>Работни Оферти</h1>
            </div>
            <div id="offers-buttons">
                {% if offer_list.has_previous %}
                    <div class="round-shape-background">
                        <a href="?page={{ offer_list.previous_page_number }}">
                            <div class="btn" id="prev-button">
                                <?xml version="1.0" encoding="UTF-8"?>
                                <svg width="28px" height="29px" stroke-width="1.5"
                                     viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg" color="#E8E8E8">
                                    <path d="M17.5 21.5L10.5 14.5L17.5 7.5" stroke="#757575" stroke-width="1.5"
                                          stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="round-shape-background">

                        <div class="btn" id="prev-button">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg width="24px" height="24px" stroke-width="1.5"
                                 viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                <path d="M15 6l-6 6 6 6" stroke="#000" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                            </svg>
                        </div>

                    </div>
                {% endif %}
                {% if offer_list.has_next %}
                    <div class="round-shape-background">
                        <a href="?page={{ offer_list.next_page_number }}">
                            <div class="btn" id="next-button">
                                <?xml version="1.0" encoding="UTF-8"?>
                                <svg width="24px" height="24px" stroke-width="1.5"
                                     viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                    <path d="M9 6l6 6-6 6" stroke="#000" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="round-shape-background">

                        <div class="btn" id="next-button">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg width="24px" height="24px" stroke-width="1.5"
                                 viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                <path d="M9 6l6 6-6 6" stroke="#000" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                            </svg>
                        </div>

                    </div>
                {% endif %}
            </div>
        </div>

        <div class="offer-slides">
            {% if offer_list %}
                <div class="row">
                    {% for offer in offer_list %}

                        <div class="offer-slide">
                            <div class="offer-pic">
                                <div class="curve-line">
                                    {% if offer.offer_pic %}
                                        <img src="{{ offer.offer_pic.url }}" alt="offer_photo">{% endif %}
                                    <div class="white-border"></div>
                                </div>
                                <div class="offer-btn slider-btn">
                                    <a href="{% url 'details offer' pk=offer.pk %}">НАУЧИ ПОВЕЧЕ</a>
                                </div>
                            </div>
                            <div class="offer-text-container">
                                <h3 class="offer-header">{{ offer.job_position }}</h3>
                                <p class="offer-location">{{ offer.city }}, {{ offer.city.state }}</p>
                                <p class="offer-type">Premium Offer</p>
                                <p class="offer-salary">${{ offer.wage|floatformat:2 }} per hour
                                    {% if offer.tips == 'Да' %} + Tips
                                    {% endif %}</p>
                            </div>
                        </div>

                    {% endfor %}
                </div>

            {% endif %}

        </div>

        <div class="slider-btn" id="offers-more-btn">
            <a href="{% url 'offers' %}">ОЩЕ РАБОТНИ ОФЕРТИ</a>
        </div>
    </section>
    <img class="usa-flag" src="{% static 'img/USA Flag.png' %}" alt="">
    <section id="video-section">
        <div class="max-width-size">
            <div id="main-video">
                <a href="{{ video.main_video }}" data-glightbox
                   class="glightbox2" data-effect="fade">
                    <div class="fancy-background"></div>
                    <img src="{{ video.main_video_image.url }}" alt="">
                    <div class="white-border">
                        <div class="white-wrapper">
                            <div class="play-button">
                                <div class="inner-circle">
                                    <svg width="34px" height="34px" stroke-width="1.5" viewBox="0 0 22 22" fill="none"
                                         xmlns="http://www.w3.org/2000/svg" color="#ffffff">
                                        <path d="M6.906 4.537A.6.6 0 006 5.053v13.894a.6.6 0 00.906.516l11.723-6.947a.6.6 0 000-1.032L6.906 4.537z"
                                              stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round" fill="white"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="main-video-logo">
                        <img src="{% static 'img/Ready-stock/Logo/AIM_logo-ROUNDED.png' %}" alt="logo">
                    </div>
                    <div id="main-video-details" class="vertical-line">
                        <p>AIM Travel</p>
                    </div>
                </a>
            </div>
            <div id="sub-videos">
                <div class="subvideo sub1">
                    <a href="{{ video.video_1 }}" data-glightbox class="glightbox2" data-effect="fade">
                        <div class="fancy-background"></div>
                        <img class='thumbnail' src="{{ video.video_1_image.url }}" alt="">
                        <div class="white-border">
                            <div class="white-wrapper">
                                <div class="play-button">
                                    <div class="inner-circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18"
                                             viewBox="0 0 16 18"
                                             fill="none">
                                            <path d="M14.75 7.70096C15.75 8.27831 15.75 9.72169 14.75 10.299L2.75 17.2272C1.75 17.8046 0.500001 17.0829 0.500001 15.9282L0.500002 2.0718C0.500002 0.917097 1.75 0.195408 2.75 0.772759L14.75 7.70096Z"
                                                  fill="white"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="subvideo-logo">
                            <img src="{% static 'img/Ready-stock/Logo/AIM_logo-ROUNDED.png' %}" alt="logo">
                        </div>
                        <div id="main-video-details" class="vertical-line">
                            <p>AIM Travel</p>
                        </div>
                    </a>
                </div>
                <div class="subvideo sub2">
                    <a href="{{ video.video_2 }}" data-glightbox class="glightbox2" data-effect="fade">
                        <div class="fancy-background"></div>
                        <img class='thumbnail' src="{{ video.video_2_image.url }}" alt="">
                        <div class="white-border">
                            <div class="white-wrapper">
                                <div class="play-button">
                                    <div class="inner-circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18"
                                             viewBox="0 0 16 18"
                                             fill="none">
                                            <path d="M14.75 7.70096C15.75 8.27831 15.75 9.72169 14.75 10.299L2.75 17.2272C1.75 17.8046 0.500001 17.0829 0.500001 15.9282L0.500002 2.0718C0.500002 0.917097 1.75 0.195408 2.75 0.772759L14.75 7.70096Z"
                                                  fill="white"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="subvideo-logo">
                            <img src="{% static 'img/Ready-stock/Logo/AIM_logo-ROUNDED.png' %}" alt="logo">
                        </div>
                        <div id="main-video-details" class="vertical-line">
                            <p>AIM Travel</p>
                        </div>
                    </a>
                </div>
                <div class="subvideo sub3">
                    <a href="{{ video.video_3 }}" data-glightbox class="glightbox2" data-effect="fade">
                        <div class="fancy-background"></div>
                        <img class='thumbnail' src="{{ video.video_3_image.url }}" alt="">
                        <div class="white-border">
                            <div class="white-wrapper">
                                <div class="play-button">
                                    <div class="inner-circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18"
                                             viewBox="0 0 16 18"
                                             fill="none">
                                            <path d="M14.75 7.70096C15.75 8.27831 15.75 9.72169 14.75 10.299L2.75 17.2272C1.75 17.8046 0.500001 17.0829 0.500001 15.9282L0.500002 2.0718C0.500002 0.917097 1.75 0.195408 2.75 0.772759L14.75 7.70096Z"
                                                  fill="white"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="subvideo-logo">
                            <img src="{% static 'img/Ready-stock/Logo/AIM_logo-ROUNDED.png' %}" alt="logo">
                        </div>
                        <div id="main-video-details" class="vertical-line">
                            <p>AIM Travel</p>
                        </div>
                    </a>
                </div>
                <div class="subvideo sub4">
                    <a href="{{ video.video_4 }}" data-glightbox class="glightbox2" data-effect="fade">
                        <div class="fancy-background"></div>
                        <img class='thumbnail' src="{{ video.video_4_image.url }}" alt="">
                        <div class="white-border">
                            <div class="white-wrapper">
                                <div class="play-button">
                                    <div class="inner-circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18"
                                             viewBox="0 0 16 18"
                                             fill="none">
                                            <path d="M14.75 7.70096C15.75 8.27831 15.75 9.72169 14.75 10.299L2.75 17.2272C1.75 17.8046 0.500001 17.0829 0.500001 15.9282L0.500002 2.0718C0.500002 0.917097 1.75 0.195408 2.75 0.772759L14.75 7.70096Z"
                                                  fill="white"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="subvideo-logo">
                            <img src="{% static 'img/Ready-stock/Logo/AIM_logo-ROUNDED.png' %}" alt="logo">
                        </div>
                        <div id="main-video-details" class="vertical-line">
                            <p>AIM Travel</p>
                        </div>
                    </a>
                </div>
                <div class="subvideo sub5">
                    <a href="{{ video.video_5 }}" data-glightbox class="glightbox2" data-effect="fade">
                        <div class="fancy-background"></div>
                        <img class='thumbnail' src="{{ video.video_5_image.url }}" alt="">
                        <div class="white-border">
                            <div class="white-wrapper">
                                <div class="play-button">
                                    <div class="inner-circle">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18"
                                             viewBox="0 0 16 18"
                                             fill="none">
                                            <path d="M14.75 7.70096C15.75 8.27831 15.75 9.72169 14.75 10.299L2.75 17.2272C1.75 17.8046 0.500001 17.0829 0.500001 15.9282L0.500002 2.0718C0.500002 0.917097 1.75 0.195408 2.75 0.772759L14.75 7.70096Z"
                                                  fill="white"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="subvideo-logo">
                            <img src="{% static 'img/Ready-stock/Logo/AIM_logo-ROUNDED.png' %}" alt="logo">
                        </div>
                        <div id="main-video-details" class="vertical-line">
                            <p>AIM Travel</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="slider-btn" id="video-more-btn">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTrITzNwfLpNJoHx6gy6zZVOuPaW_CMZoHt08SfdxepdNzeQ/viewform"
                   target="_blank">
                    <script>
                        function gtag_report_conversion(url) {
                            var callback = function () {
                                if (typeof (url) != 'undefined') {
                                    window.location = url;
                                }
                            };
                            gtag('event', 'conversion', {
                                'send_to': 'AW-825631983/ogJ3CLaC--gYEO_J2IkD',
                                'event_callback': callback
                            });
                            return false;
                        }
                    </script>
                    <script type="text/javascript">
                        $('#$addToCartButton').click(function () {
                            fbq('track', 'Subscribe');
                        });
                    </script>
                    ЗАПИШИ СЕ</a>
            </div>
        </div>
    </section>
    <img class="main-flag2" src="{% static 'img/USA Flag.png' %}" alt="">
    <section id="news-section">
        <div id="news-heading">
            <p id="heading-news">Новини</p>
        </div>
        <div id="news">
            <div id="last-news">
                <div id="last-news-img">
                    <img src="{{ very_last_news.news_image.url }}" alt="last news picture">
                    <div class="white-border"></div>
                </div>
                <div id="last-news-text">
                    <p class="news-date last">{{ very_last_news.date }}</p>
                    <h2 id="last-news-header">{{ very_last_news.news_title }}</h2>
                    <p id="last-news-main-content">{{ very_last_news.news_content|safe }}
                    </p>
                </div>
            </div>
            <div id="last-4-news">
                {% for news in last_4_news %}
                    <a href="{% url 'news' %}">
                        <div id=" last-4-1" class="news-content">
                            <div id="last-4-1-img" class="last-img">
                                <img src="{{ news.news_image.url }}" alt="">
                                <div class="white-border"></div>
                            </div>
                            <div id="last-4-1-text" class="last-4-text">
                                <p class="news-date">{{ news.date }}</p>
                                <h3>{{ news.news_title }}</h3>
                                <p class="underline">Прочети Статия</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div id="news-button">
            <div class="slider-btn" id="news-more-btn">
                <a href="{% url 'news' %}">ОЩЕ НОВИНИ</a>
            </div>
        </div>
    </section>
    <section id="pricing-section">
        <div id="pricing-text">
            <h4>БРИГАДА В САЩ</h4>
            <h1>КОЛКО СТРУВА</h1>
            <h4>С AIM TRAVEL USA?</h4>
            <p>Готов ли си да се запишеш за Бригада в САЩ? Нашият Раздел "Цени" предлага всичко, от което се
                нуждаеш, за да разбереш какви са разходите за една WAT програма на всеки студент. От таксите за
                виза
                и самолетен билет до услугите за предоставяне на нашите специално подбрани бутикови работни
                оферти.
                Кликни бутона "Цени" сега, за да научиш повече относно различните финансирания.</p>
        </div>
        <div id="pricing-button">
            <div id="pricing-btn" class="pricing-btn">
                <a href="{% url 'wat usa' %}#price-section">ВИЖ НАШИТЕ СПЕЦИАЛНИ ЦЕНИ</a>
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="24px" height="24px" viewBox="0 0 24 24"
                     stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                    <path
                            d="M9.171 14.828l5.657-5.656m0 0h-4.95m4.95 0v4.95M21 3.6v16.8a.6.6 0 01-.6.6H3.6a.6.6 0 01-.6-.6V3.6a.6.6 0 01.6-.6h16.8a.6.6 0 01.6.6z"
                            stroke="#ffffff " stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                    </path>
                </svg>
            </div>
        </div>
    </section>
    <section id="story-section">
        <div id="story-heading">
            <p id="heading-story">Истории На Студенти</p>
        </div>
        <div id="story">
            {% if main_feedback %}
                {% for feedback in main_feedback %}
                    <div id="story-1" class="story-container">
                        <div class="story-img">
                            <img src="{{ feedback.feedback_1_image.url }}" alt="pic1">
                            <div class="white-border"></div>
                        </div>
                        <div class="story-text">
                            <h3>{{ feedback.feedback_1_title }}</h3>
                            <p>{{ feedback.feedback_1_content|safe }}</p>
                            <a href="{% url 'story' %}">Прочети Статия</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}

                <p> Към момнета няма добавени истории.</p>
            {% endif %}
        </div>
        <div id="story-button" class="slider-btn">
            <a href="{% url 'story' %}">ВИЖ ОЩЕ ИСТОРИИ</a>
        </div>
    </section>
    <section id="service-section">
        <div id="service-container" class="normal-service">
            <div class="row">
                <div class="service">
                    <div class="icon">
                        <img src="../static/img/money_icon.png" alt="">
                    </div>
                    <div class="service-header">
                        <h1>НАЙ-АТРАКТИВНИТЕ РАБОТНИ ОФЕРТИ</h1>
                    </div>
                    <div class="service-description">
                        <p>Вече 10 години си партнираме с най-добрите работодатели. Нашите партньори гарантират
                            отлични
                            работни оферти (Nantucket, Provincetown) с ангажимент към квартирата и условията на
                            работа
                            на топ локации в САЩ.</p>
                    </div>
                </div>
                <div class="service">
                    <div class="icon">
                        <img src="../static/img/tasks_icon.png" alt="">
                    </div>
                    <div class="service-header">
                        <h1>ЛЕСНИ СТЪПКИ ЗА КАНДИДАТСТАВАНЕ</h1>
                    </div>
                    <div class="service-description">
                        <p>Разработили сме бърз и лесен процес на кандидатстване с минимален разход на време от
                            страна
                            на клиента. Подпомагаме кандидатите при процеса на кандидатстване, но и по време на
                            цялата
                            програма.</p>
                    </div>
                </div>
                <div class="service">
                    <div class="icon">
                        <img src="../static/img/paying_icon.png" alt="">
                    </div>
                    <div class="service-header">
                        <h1>ПЛАЩАНЕ НА ВНОСКИ ИЛИ СТУДЕНТСКИ КРЕДИТ</h1>
                    </div>
                    <div class="service-description">
                        <p>Платете програмата на вноски или със студентски кредит. Съвместно със Societe
                            Generale
                            Експресбанк имате възможност да се възползвате от най-изгодния студентски кредит до
                            15
                            000
                            лв.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="service">
                    <div class="icon">
                        <img src="../static/img/progress_icon.png" alt="">
                    </div>
                    <div class="service-header">
                        <h1>ВИСОКА УСПЕВАЕМОСТ ЗА ВИЗА</h1>
                    </div>
                    <div class="service-description">
                        <p>След нашата безплатна подготовка ние Гарантираме висока успеваемост на интервюто за
                            виза.
                            Информираме Ви как протича интервюто, какви въпроси да очаквате, как да се
                            представите
                            блестящо.</p>
                    </div>
                </div>
                <div class="service">
                    <div class="icon">
                        <img src="../static/img/communication_icon.png" alt="">
                    </div>
                    <div class="service-header">
                        <h1>БЕЗПЛАТНА ЕЗИКОВА ПОДГОТОВКА</h1>
                    </div>
                    <div class="service-description">
                        <p>Ще ти помогнем да подобриш английския си език, нашият добре обучен персонал ще ти
                            съдейства с
                            тренинг по английски. Ще придобиеш увереност за разговор в неформална обстановка, ще
                            комуникираш своодно в САЩ.</p>
                    </div>
                </div>
                <div class="service">
                    <div class="icon">
                        <img src="../static/img/people_icon.png" alt="">
                    </div>
                    <div class="service-header">
                        <h1>ПЕРСОНАЛНО ВНИМАНИЕ - КОНСУЛТАЦИИ</h1>
                    </div>
                    <div class="service-description">
                        <p>Винаги ще сме до теб. Помагаме ти да избереш най-подходящата за теб работна оферта.
                            Попълваме
                            заедно всички документи. Можеш да разчиташ на нашия съвет и помощ при всяко решение
                            и
                            стъпка
                            от програмата.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="service-container" class="resp-service">
            <div class="row">
                <div class="service" id="service1">
                    <div class="icon">
                        <img src="../static/img/money_icon.png" alt="">
                    </div>
                    <div class="service-header">
                        <h1>НАЙ-АТРАКТИВНИТЕ РАБОТНИ ОФЕРТИ</h1>
                    </div>
                    <div class="service-description">
                        <p>Вече 10 години си партнираме с най-добрите работодатели. Нашите партньори гарантират
                            отлични
                            работни оферти (Nantucket, Provincetown) с ангажимент към квартирата и условията на
                            работа
                            на топ локации в САЩ.</p>
                    </div>
                </div>
                <div class="service" id="service2">
                    <div class="icon">
                        <img src="../static/img/tasks_icon.png" alt="">
                    </div>
                    <div class="service-header">
                        <h1>ЛЕСНИ СТЪПКИ ЗА КАНДИДАТСТАВАНЕ</h1>
                    </div>
                    <div class="service-description">
                        <p>Разработили сме бърз и лесен процес на кандидатстване с минимален разход на време от
                            страна
                            на клиента. Подпомагаме кандидатите при процеса на кандидатстване, но и по време на
                            цялата
                            програма.</p>
                    </div>
                </div>
                <div class="service" id="service3">
                    <div class="icon">
                        <img src="../static/img/paying_icon.png" alt="">
                    </div>
                    <div class="service-header">
                        <h1>ПЛАЩАНЕ НА ВНОСКИ ИЛИ СТУДЕНТСКИ КРЕДИТ</h1>
                    </div>
                    <div class="service-description">
                        <p>Платете програмата на вноски или със студентски кредит. Съвместно със Societe
                            Generale
                            Експресбанк имате възможност да се възползвате от най-изгодния студентски кредит до
                            15
                            000
                            лв.</p>
                    </div>
                </div>
                <div class="service" id="service4">
                    <div class="icon">
                        <img src="../static/img/progress_icon.png" alt="">
                    </div>
                    <div class="service-header">
                        <h1>ВИСОКА УСПЕВАЕМОСТ ЗА ВИЗА</h1>
                    </div>
                    <div class="service-description">
                        <p>След нашата безплатна подготовка ние Гарантираме висока успеваемост на интервюто за
                            виза.
                            Информираме Ви как протича интервюто, какви въпроси да очаквате, как да се
                            представите
                            блестящо.</p>
                    </div>
                </div>
                <div class="service" id="service5">
                    <div class="icon">
                        <img src="../static/img/communication_icon.png" alt="">
                    </div>
                    <div class="service-header">
                        <h1>БЕЗПЛАТНА ЕЗИКОВА ПОДГОТОВКА</h1>
                    </div>
                    <div class="service-description">
                        <p>Ще ти помогнем да подобриш английския си език, нашият добре обучен персонал ще ти
                            съдейства с
                            тренинг по английски. Ще придобиеш увереност за разговор в неформална обстановка, ще
                            комуникираш своодно в САЩ.</p>
                    </div>
                </div>
                <div class="service" id="service6">
                    <div class="icon">
                        <img src="../static/img/people_icon.png" alt="">
                    </div>
                    <div class="service-header">
                        <h1>ПЕРСОНАЛНО ВНИМАНИЕ - КОНСУЛТАЦИИ</h1>
                    </div>
                    <div class="service-description">
                        <p>Винаги ще сме до теб. Помагаме ти да избереш най-подходящата за теб работна оферта.
                            Попълваме
                            заедно всички документи. Можеш да разчиташ на нашия съвет и помощ при всяко решение
                            и
                            стъпка
                            от програмата.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% include 'footer.html' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{% static 'javascript/js_dropdown.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/js_dynamic_refresh_index.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/js_slider.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/js_navbar.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/js_video.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/js_service_resp.js' %}"></script>
</body>

</html>
