{% extends 'base.html' %}
{% block content %}

    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
        Main banner START -->
        <section class="py-0">
            <div class="container">
                <!-- Title -->
                <div class="row g-4">
                    <!-- Image -->
                    <div class="col-12">
                        <img src="../../../static/img/why_usa.png" class="rounded-3" alt="" height="500" width="1200">
                    </div>
                    <!-- Title and content -->
                    <div class="col-11 col-lg-10 mx-auto position-relative mt-n5 mt-sm-n7 mt-md-n8">
                        <div class="bg-mode shadow rounded-3 p-4">
                            <!-- Badge -->
                            <div class="badge text-bg-success mb-2">AIM Work & Travel</div>
                            <!-- Title -->
                            <h1 class="fs-3">Необходими документи за J-1</h1>


                            <div class="col-lg-10 mx-auto">
                                <p>Тази страница се отнася за онези от вас, които вече са записани за Студентска бригада
                                    в САЩ и са уведомени, че са получили DS2019, или това е работното разрешително за
                                    Work and Travel USA. Ще те запознаем с необходимите документи, които можеш да
                                    попълниш с нашето съдействие, посещавайки офиса на AIM Travel в Студентски град.</p>

                                <!-- needed docs -->


                                <div class="row g-4">
                                    <!-- List -->
                                    <ul>
                                        <li>МЕЖДУНАРОДЕН ПАСПОРТ</li>
                                        <ul>
                                            <li style="list-style-type: circle">той трябва да бъде валиден поне 6
                                                месеца след края на програмата
                                            </li>
                                        </ul>
                                        <li>DS 2019</li>
                                        <ul>
                                            <li style="list-style-type: circle">това е „Работно разрешително“,
                                                издадено от AIM Travel. Това е документът, без който не можеш да
                                                пристигнеш в САЩ или да се явиш на интервюто за виза в Американското
                                                посолство.
                                            </li>
                                        </ul>
                                        <li>АКАДЕМИЧНА СПРАВКА ОТ УНИВЕРСИТЕТ</li>
                                        <ul>
                                            <li style="list-style-type: circle">оригинал на Академичната справка или
                                                студентска книжка от университета, в който учиш.
                                            </li>
                                        </ul>
                                        <li>УВЕРЕНИЕ ЗА ЗАПИСАН СЕМЕСТЪР, РЕДОВНО ОБУЧЕНИЕ</li>
                                        <ul>
                                            <li style="list-style-type: circle">то удостоверява редовния ти статус
                                                на обучение. В него е вписана и очакваната дата на завършване.
                                            </li>
                                        </ul>
                                        <li>КВИТАНЦИЯ ЗА ПЛАТЕНА ТАКСА ЗА ВИЗА</li>
                                        <ul>
                                            <li style="list-style-type: circle">за обработка на молбата ти за виза,
                                                по сметката на Американското посолство се превежда определена сума.
                                                Този превод се извършва след издаването на DS2019 от AIM Travel.
                                            </li>
                                        </ul>
                                        <li>СНИМКИ</li>
                                        <ul>
                                            <li style="list-style-type: circle">необходимо е да предоставиш 2 броя
                                                снимки с размер 5х5 см.
                                            </li>
                                        </ul>
                                        <li>ФОРМУЛЯР DS160</li>
                                        <ul>
                                            <li style="list-style-type: circle">това е формуляр, който попълваш в
                                                сайта на Американското посолство.
                                            </li>
                                        </ul>
                                    </ul>

                                </div>


                                <!-- Blockquote -->
                                <blockquote class="bg-light rounded text-center p-3 p-md-4 my-4">
                                    <h6 class="fw-normal"><i class="fa-solid fa-quote-left me-2"></i>Най-добрите истории
                                        се намират между страниците на паспорта.<i
                                                class="fa-solid fa-quote-right ms-2"></i></h6>
                                    <div class="blockquote-footer mb-0 fs-6 mt-3">
                                        Сабер бен Хасен
                                    </div>
                                </blockquote>


                            </div>
                        </div>
                        <!-- Review poll START -->
                        <div class="bg-light rounded d-md-flex justify-content-between align-items-center text-center p-3 mt-4">
                            <!-- Title -->
                            <h6 class="mb-0">Беше ли ви полезна информацията?</h6>
                            <small class="py-3 p-md-0 d-block">25 от 78 намират това за полезно</small>
                            <!-- Check buttons -->
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <!-- Yes button -->
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1">
                                <label class="btn btn-outline-secondary btn-sm mb-0" for="btnradio1"><i
                                        class="fa-regular fa-thumbs-up me-1"></i> Да</label>
                                <!-- No button -->
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
                                <label class="btn btn-outline-secondary btn-sm mb-0" for="btnradio2"> Не <i
                                        class="fa-regular fa-thumbs-down ms-1"></i></label>
                            </div>
                        </div>
                        <!-- Review poll END -->

                        <!-- Social links and tags -->
                        <div class="d-lg-flex justify-content-lg-between mt-4">
                            <!-- Social media button -->
                            <div class="align-items-center mb-3 mb-lg-0">
                                <h6 class="d-inline-block mb-2 me-4">Share on:</h6>
                                <ul class="list-inline hstack flex-wrap gap-3 h6 fw-normal mb-0">
                                    <li class="list-inline-item"><a class="text-facebook" href="#"><i
                                            class="fa-brands fa-facebook-square"></i> Facebook</a></li>
                                    <li class="list-inline-item"><a class="text-instagram-gradient" href="#"><i
                                            class="fa-brands fa-instagram-square"></i> Instagram</a></li>
                                    <li class="list-inline-item"><a class="text-twitter" href="#"><i
                                            class="fa-brands fa-twitter-square"></i> Twitter</a></li>
                                </ul>
                            </div>
                            <!-- Popular tags -->
                            <div class="align-items-center">
                                <h6 class="d-inline-block mb-2 me-4">Popular Tags:</h6>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item"><a class="btn btn-light btn-sm mb-xl-0"
                                                                    href="#">blog</a></li>
                                    <li class="list-inline-item"><a class="btn btn-light btn-sm mb-xl-0"
                                                                    href="#">Tour</a></li>
                                    <li class="list-inline-item"><a class="btn btn-light btn-sm mb-xl-0"
                                                                    href="#">Holidays</a></li>
                                    <li class="list-inline-item"><a class="btn btn-light btn-sm mb-xl-0"
                                                                    href="#">Ticket Booking</a></li>
                                    <li class="list-inline-item"><a class="btn btn-light btn-sm mb-xl-0"
                                                                    href="#">deep learning</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Social links and END -->

                    </div>
                </div>
            </div>

        </section>
        <!-- =======================
        Blog content END -->

    </main>
    <!-- **************** MAIN CONTENT END **************** -->


{% endblock %}