{% extends 'base.html' %}
{% load social_share %}

{% block content %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        <!-- =======================
           Main Banner START -->
        <section class="py-0">
            <div class="container">
                <!-- Title -->
                <div class="row g-4">
                    <!-- Image -->
                    <div class="col-12">
                        <img src="../../../static/img/why_usa.png" class="rounded-3"
                             alt="" height="500" width="1200">
                    </div>
                    <!-- Title and content -->
                    <div class="col-11 col-lg-10 mx-auto position-relative mt-n5 mt-sm-n7 mt-md-n8">
                        <div class="bg-mode shadow rounded-3 p-4">
                            <!-- Badge -->
                            <div class="badge text-bg-success mb-2">AIM Work & Travel</div>

                            <!-- =======================
           PRICE START -->
                            <div class="container">
                                <!-- Title -->
                                <div class="row mb-3 mb-sm-4">
                                    <div class="col-12 text-center">
                                        <h2>Цени за лято 2023</h2>
                                    </div>
                                </div>
                                <div class="row g-4">
                                    <!-- Category item -->
                                    <div class="col-sm-6 col-lg-4">
                                        <!-- Card START -->
                                        <div class="card card-body shadow p-4 h-100">
                                            <!-- Icon -->
                                            <div class="icon-lg bg-primary bg-opacity-10 text-primary rounded-circle mb-4">
                                                <i class="bi bi-lightning-fill fs-5"></i></div>
                                            <h4>$1159.00</h4>
                                            <h6>Self arranged</h6>
                                            <p class="mb-0">Записваш се в WAT с подсигурена от теб работна оферта</p>
                                        </div>
                                        <!-- Card END -->
                                    </div>
                                    <!-- Category item -->
                                    <div class="col-sm-6 col-lg-4">
                                        <!-- Card START -->
                                        <div class="card card-body shadow p-4 h-100">
                                            <!-- Icon -->
                                            <div class="icon-lg bg-success bg-opacity-10 text-success rounded-circle mb-4">
                                                <i
                                                        class="fa-solid fa-leaf fs-5"></i></div>
                                             <h4>$1249.00</h4>
                                            <h6>Full placement standard</h6>
                                            <p class="mb-0">Записваш се в WAT и избираш от нашите проверени работни оферти</p>
                                        </div>
                                        <!-- Card END -->
                                    </div>
                                    <!-- Category item -->
                                    <div class="col-sm-6 col-lg-4">
                                        <!-- Card START -->
                                        <div class="card card-body shadow p-4 h-100">
                                            <!-- Icon -->
                                            <div class="icon-lg bg-warning bg-opacity-15 text-warning rounded-circle mb-4">
                                                <i
                                                        class="bi bi-life-preserver fs-5"></i></div>
                                             <h4>$1359.00</h4>
                                            <h6>Premium full placement</h6>
                                            <p class="mb-0">Записваш се за нашите най-атрактивни работни оферти (Nantucket, Cape Cod, Maine)</p>
                                        </div>
                                        <!-- Card END -->
                                    </div>
                                </div> <!-- Row END -->
<br>
                                <!-- Price Description START -->
                                <div class="row g-4">
                                    <!-- Category item -->
                                    <div class="col-sm-6 col-lg-4">
                                        <!-- Card START -->
                                        <div class="card card-body shadow p-4 h-100">
                                            <!-- Description -->
                                            <p class="text-black">Цената включва:</p>
                                            <ol>
                                                <li class="text-black">Издаване на работно разрешително</li><br>
                                                <li class="text-black">Изготвяне и внасяне на всички документи за визовото интервю в Американското посолство</li><br>
                                                <li class="text-black">Медицинска застраховка за целия престой</li><br>
                                                <li class="text-black">Заплащане на месечни вноски</li><br>
                                                <li class="text-black">Студентски кредит до 10 000лв.</li>
                                            </ol>
                                        </div>
                                        <!-- Card END -->
                                    </div>
                                    <!-- Category item -->
                                    <div class="col-sm-6 col-lg-4">
                                        <!-- Card START -->
                                        <div class="card card-body shadow p-4 h-100">
                                            <!-- Description -->
                                            <p class="text-black">Цената включва:</p>
                                            <ol>
                                                <li class="text-black">Осигуряване на работна оферта за САЩ</li><br>
                                                <li class="text-black">Издаване на работно разрешително</li><br>
                                                <li class="text-black">Изготвяне и внасяне на всички документи за визовото интервю в Американското посолство</li><br>
                                                <li class="text-black">Медицинска застраховка за целия престой</li><br>
                                                <li class="text-black">Заплащане на месечни вноски</li><br>
                                                <li class="text-black">Студентски кредит до 10 000лв.</li><br>
                                            </ol>
                                        </div>
                                        <!-- Card END -->
                                    </div>
                                    <!-- Category item -->
                                    <div class="col-sm-6 col-lg-4">
                                        <!-- Card START -->
                                        <div class="card card-body shadow p-4 h-100">
                                            <!-- Description -->
                                            <p class="text-black">Цената включва:</p>
                                            <ol>
                                                <li class="text-black">Осигуряване на <strong><b>ПРЕМИУМ</b></strong> работна оферта за САЩ (проверена оферта с <strong><b>ТОП</b></strong> работодател!)</li><br>
                                                <li class="text-black">Издаване на работно разрешително</li><br>
                                                <li class="text-black">Изготвяне и внасяне на всички документи за визовото интервю в Американското посолство</li><br>
                                                <li class="text-black">Медицинска застраховка за целия престой</li><br>
                                                <li class="text-black">Заплащане на месечни вноски</li><br>
                                                <li class="text-black">Студентски кредит до 10 000лв.</li><br>
                                            </ol>
                                        </div>
                                        <!-- Card END -->
                                    </div>
                                </div>

                                <!-- Price Description END -->
                            </div>
                            <!-- =======================
           PRICE END -->
                        </div>
                        <!-- Review poll START -->
                        <div class="bg-light rounded d-md-flex justify-content-between align-items-center text-center p-3 mt-4">
                            <!-- Title -->
                            <h6 class="mb-0">Беше ли ви полезна информацията?</h6>
                            <small class="py-3 p-md-0 d-block">25 от 78 намират това за полезно</small>
                            <!-- Check buttons -->
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <!-- Yes button -->
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1">
                                <label class="btn btn-outline-secondary btn-sm mb-0" for="btnradio1"><i
                                        class="fa-regular fa-thumbs-up me-1"></i> Да</label>
                                <!-- No button -->
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
                                <label class="btn btn-outline-secondary btn-sm mb-0" for="btnradio2"> Не <i
                                        class="fa-regular fa-thumbs-down ms-1"></i></label>
                            </div>
                        </div>
                        <!-- Review poll END -->
                        <!-- Social links and tags -->
                        <div class="d-lg-flex justify-content-lg-between mt-4">
                            <!-- Social media button -->
                            <div class="align-items-center mb-3 mb-lg-0">
                                <h6 class="d-inline-block mb-2 me-4">Сподели:</h6>
                                <ul class="list-inline hstack flex-wrap gap-3 h6 fw-normal mb-0">
                                    <li class="list-inline-item"><a class="text-facebook"
                                                                    href="">{% post_to_facebook object_or_url %}</a>
                                    </li>
                                    <li class="list-inline-item"><a class="text-instagram-gradient" href="#"><i
                                            class="fa-brands fa-instagram-square"></i> Instagram</a></li>
                                    <li class="list-inline-item"><a class="text-twitter" href="#"><i
                                            class="fa-brands fa-twitter-square"></i> Twitter</a></li>
                                </ul>
                            </div>
                            <!-- Popular tags -->
                            <div class="align-items-center">
                                <h6 class="d-inline-block mb-2 me-4">Popular Tags:</h6>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item"><a class="btn btn-light btn-sm mb-xl-0"
                                                                    href="#">blog</a>
                                    </li>
                                    <li class="list-inline-item"><a class="btn btn-light btn-sm mb-xl-0"
                                                                    href="#">Tour</a>
                                    </li>
                                    <li class="list-inline-item"><a class="btn btn-light btn-sm mb-xl-0"
                                                                    href="#">Holidays</a></li>
                                    <li class="list-inline-item"><a class="btn btn-light btn-sm mb-xl-0" href="#">Ticket
                                        Booking</a></li>
                                    <li class="list-inline-item"><a class="btn btn-light btn-sm mb-xl-0" href="#">deep
                                        learning</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Social links and END -->
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- **************** MAIN CONTENT END **************** -->

{% endblock %}