{% extends 'base.html' %}
{% load social_share %}
{% block content %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
        Main banner START -->
        <section class="py-0">
            <div class="container">
                <!-- Title -->
                <div class="row g-4">
                    <!-- Image -->
                    <div class="col-12">
                        <img src="../../../static/img/why_usa.png" class="rounded-3" alt="" height="500" width="1200">
                    </div>
                    <!-- Title and content -->
                    <div class="col-11 col-lg-10 mx-auto position-relative mt-n5 mt-sm-n7 mt-md-n8">
                        <div class="bg-mode shadow rounded-3 p-4">
                            <!-- Badge -->
                            <div class="badge text-bg-success mb-2">AIM Work & Travel</div>
                            <!-- Title -->
                            <h1 class="fs-3">Кой може да участва в WAT USA</h1>
                            <p>За да разбереш дали програмата е за теб и дали си подходящ за нея, разгледай критериите и
                                изискванията, които трябва да покриеш:</p>

                            <div class="row g-4">
                                <!-- List -->
                                <div class="col-md-6 col-lg-7">
                                    <ul>
                                        <li>Първото и най-важно изискване е да си студент в редовна форма на обучение –
                                            само
                                            редовните студенти имат право на участие в студентските бригади.
                                        </li>
                                        <li>Необходимо е да владееш английски език – да владееш езика, също е
                                            задължително
                                            изискване. Колкото по-високо е нивото ти, толкова по-добра работна позиция
                                            бихме
                                            могли
                                            да ти предложим.
                                        </li>
                                        <li>Да имаш желание и да вземеш това важно решение СЕГА – не се колебай, а
                                            започни още
                                            сега да градиш своето бъдеще.
                                        </li>

                                    </ul>
                                    <p class="mb-0 mt-3">Независимо дали си първи курс, или вече си на прага на
                                        дипломирането
                                        си, това е един
                                        уникален начин да пътуваш, да се срещаш с нови хора, да посещаваш нови и
                                        непознати места
                                        и да бъдеш самостоятелен и независим. Те са един прекрасен начин да прекараш
                                        едно
                                        незабравимо лято!</p>
                                </div>
                                <!-- Image -->
                                <div class="col-md-6 col-lg-5">
                                    <img src="/static/img/here_i_come.jpg" class="rounded" alt="">
                                </div>
                            </div>


                            <!-- Blockquote -->
                            <blockquote class="bg-light rounded text-center p-3 p-md-4 my-4">
                                <h6 class="fw-normal"><i class="fa-solid fa-quote-left me-2"></i>Светът е книга и този,
                                    който не
                                    пътува, е прочел само една страница от нея.<i
                                            class="fa-solid fa-quote-right ms-2"></i></h6>
                                <div class="blockquote-footer mb-0 fs-6 mt-3">
                                    Свети Августин
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    <!-- Review poll START -->
                    <div class="bg-light rounded d-md-flex justify-content-between align-items-center text-center p-3 mt-4">
                        <!-- Title -->
                        <h6 class="mb-0">Беше ли ви полезна информацията?</h6>
                        <small class="py-3 p-md-0 d-block">25 от 78 намират това за полезно</small>
                        <!-- Check buttons -->
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <!-- Yes button -->
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1">
                            <label class="btn btn-outline-secondary btn-sm mb-0" for="btnradio1"><i
                                    class="fa-regular fa-thumbs-up me-1"></i> Да</label>
                            <!-- No button -->
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2">
                            <label class="btn btn-outline-secondary btn-sm mb-0" for="btnradio2"> Не <i
                                    class="fa-regular fa-thumbs-down ms-1"></i></label>
                        </div>
                    </div>
                    <!-- Review poll END -->

                    <!-- Social links and tags -->
                    <div class="d-lg-flex justify-content-lg-between mt-4">
                        <!-- Social media button -->
                        <div class="align-items-center mb-3 mb-lg-0">
                            <h6 class="d-inline-block mb-2 me-4">Сподели:</h6>
                            <ul class="list-inline hstack flex-wrap gap-3 h6 fw-normal mb-0">
                                <li class="list-inline-item"><a class="text-facebook"
                                                                href="">{% post_to_facebook object_or_url %}</a>
                                </li>

                                <li class="list-inline-item"><a class="text-instagram-gradient" href="#"><i
                                        class="fa-brands fa-instagram-square"></i> Instagram</a></li>
                                <li class="list-inline-item"><a class="text-twitter" href="#"><i
                                        class="fa-brands fa-twitter-square"></i> Twitter</a></li>
                            </ul>
                        </div>
                        <!-- Popular tags -->
                        <div class="align-items-center">
                            <h6 class="d-inline-block mb-2 me-4">Popular Tags:</h6>
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item"><a class="btn btn-light btn-sm mb-xl-0"
                                                                href="#">blog</a>
                                </li>
                                <li class="list-inline-item"><a class="btn btn-light btn-sm mb-xl-0"
                                                                href="#">Tour</a>
                                </li>
                                <li class="list-inline-item"><a class="btn btn-light btn-sm mb-xl-0"
                                                                href="#">Holidays</a></li>
                                <li class="list-inline-item"><a class="btn btn-light btn-sm mb-xl-0" href="#">Ticket
                                    Booking</a></li>
                                <li class="list-inline-item"><a class="btn btn-light btn-sm mb-xl-0" href="#">deep
                                    learning</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Social links and END -->

                </div>
            </div>
        </section>
        <!-- =======================
        Blog content END -->

    </main>
    <!-- **************** MAIN CONTENT END **************** -->

{% endblock %}