{% extends 'base.html' %}
{% load static %}

{% block content %}

    <main>


        <section id="contacts-header-section">
            <div id="contacts-section-header">
                <h2>Как да се свържете с нас?</h2>
                <p>За да се свържете с нас, трябва само да ни се обадите. Ако пък телефонните разговори ви се
                    струват ретро, пишете ни e-mail или пък се свържете с нас през социалните медии. И
                    разбира се винаги може да ни посетите на място в нашите офиси. Очакваме ви!</p>
            </div>
        </section>
        <section id="contacts-section" class="red-background">
            <div id="contacts-section-inner-container" class="inner-container">

                <div id="contacts-container">
                    <div class="price-container">
                        <div class="price-container-text">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg width="58px" height="58px" stroke-width="1" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg" color="#000000">
                                <path d="M20 11a8 8 0 10-16 0" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                                <path d="M2 15.438v-1.876a2 2 0 011.515-1.94l1.74-.436a.6.6 0 01.745.582v5.463a.6.6 0 01-.746.583l-1.74-.435A2 2 0 012 15.439zM22 15.438v-1.876a2 2 0 00-1.515-1.94l-1.74-.436a.6.6 0 00-.745.582v5.463a.6.6 0 00.745.583l1.74-.435A2 2 0 0022 15.439zM20 18v.5a2 2 0 01-2 2h-3.5"
                                      stroke="#FFFFFF" stroke-width="1"></path>
                                <path d="M13.5 22h-3a1.5 1.5 0 010-3h3a1.5 1.5 0 010 3z" stroke="#FFFFFF"
                                      stroke-width="1"></path>
                            </svg>
                            <p>ОБАДИ НИ СЕ</p>
                        </div>
                        <div class="option-list">
                            <div id="phone-container">
                                <div id="phone-btn" class="contact-detail">
                                    <a href="tel:+359889966583">+359 88 99 66 583</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="price-container">
                        <div class="price-container-text">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg width="58px" height="58px" viewBox="0 0 24 24" stroke-width="1" fill="none"
                                 xmlns="http://www.w3.org/2000/svg" color="#ffffff">
                                <path d="M9 9l4.5 3L18 9M3 13.5h2M1 10.5h4" stroke="#ffffff" stroke-width="1"
                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M5 7.5V7a2 2 0 012-2h13a2 2 0 012 2v10a2 2 0 01-2 2H7a2 2 0 01-2-2v-.5"
                                      stroke="#ffffff" stroke-width="1" stroke-linecap="round"></path>
                            </svg>
                            <p>ПИШИ НИ E-MAIL</p>
                        </div>
                        <div class="option-list">
                            <div id="phone-container">
                                <div id="phone-btn" class="contact-detail">
                                    <a href="mailto:studentski@aimtravel.bg">studentski@aimtravel.bg</a>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="price-container">
                        <div class="price-container-text">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg width="58px" height="58px" stroke-width="1" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg" color="#ffffff">
                                <path d="M16.472 20H4.1a.6.6 0 01-.6-.6V9.6a.6.6 0 01.6-.6h2.768a2 2 0 001.715-.971l2.71-4.517a1.631 1.631 0 012.961 1.308l-1.022 3.408a.6.6 0 00.574.772h4.575a2 2 0 011.93 2.526l-1.91 7A2 2 0 0116.473 20z"
                                      stroke="#ffffff" stroke-width="1" stroke-linecap="round"></path>
                                <path d="M7 20V9" stroke="#ffffff" stroke-width="1" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                            </svg>
                            <p>СОЦИАЛНИТЕ МЕДИИ</p>
                        </div>
                        <div class="option-list">
                            <div id="phone-container">
                                <div id="insta-link">
                                    <a href="https://www.instagram.com/aimtravel_usa/" target="_blank">
                                        <?xml version="1.0" encoding="UTF-8"?>
                                        <svg width="24px" height="24px" stroke-width="1.5"
                                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                             color="#000000">
                                            <path d="M12 16a4 4 0 100-8 4 4 0 000 8z" stroke="#FFFFFF"
                                                  stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M3 16V8a5 5 0 015-5h8a5 5 0 015 5v8a5 5 0 01-5 5H8a5 5 0 01-5-5z"
                                                  stroke="#FFFFFF" stroke-width="1.5"></path>
                                            <path d="M17.5 6.51l.01-.011" stroke="#FFFFFF" stroke-width="1.5"
                                                  stroke-linecap="round"
                                                  stroke-linejoin="round"></path>
                                        </svg>
                                    </a>

                                </div>

                                <div id="fb-link">
                                    <a href="https://www.facebook.com/profile.php?id=100072235954652" target="_blank">
                                        <?xml version="1.0" encoding="UTF-8"?>
                                        <svg width="24px" height="24px" stroke-width="1.5"
                                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                             color="#000000">
                                            <path d="M17 2h-3a5 5 0 00-5 5v3H6v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3V2z"
                                                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                                  stroke-linejoin="round">
                                            </path>
                                        </svg>
                                    </a>

                                </div>

                                <div id="youtube-link">
                                    <a href="https://www.youtube.com/@aimtravel9347" target="_blank">
                                        <?xml version="1.0" encoding="UTF-8"?>
                                        <svg width="24px" height="24px" stroke-width="1.5"
                                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                             color="#000000">
                                            <path d="M14 12l-3.5 2v-4l3.5 2z" fill="#000000" stroke="#FFFFFF"
                                                  stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path
                                                    d="M2 12.707v-1.415c0-2.895 0-4.343.905-5.274.906-.932 2.332-.972 5.183-1.053C9.438 4.927 10.818 4.9 12 4.9c1.181 0 2.561.027 3.912.065 2.851.081 4.277.121 5.182 1.053.906.931.906 2.38.906 5.274v1.415c0 2.896 0 4.343-.905 5.275-.906.931-2.331.972-5.183 1.052-1.35.039-2.73.066-3.912.066-1.181 0-2.561-.027-3.912-.066-2.851-.08-4.277-.12-5.183-1.052C2 17.05 2 15.602 2 12.708z"
                                                    stroke="#FFFFFF" stroke-width="1.5"></path>
                                        </svg>
                                    </a>

                                </div>

                                <div class="tiktok-link">
                                    <a href="https://www.tiktok.com/@aim_travelusa" target="_blank">
                                        <?xml version="1.0" encoding="UTF-8"?>
                                        <svg width="24px" height="24px" stroke-width="1.5"
                                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                                             color="#000000">
                                            <path d="M21 8v8a5 5 0 01-5 5H8a5 5 0 01-5-5V8a5 5 0 015-5h8a5 5 0 015 5z"
                                                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                                  stroke-linejoin="round">
                                            </path>
                                            <path d="M10 12a3 3 0 103 3V6c.333 1 1.6 3 4 3" stroke="#FFFFFF"
                                                  stroke-width="1.5"
                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="contacts-offices-section">
            <div id="contacts-header-section" class="centered">
                <h2>Офиси</h2>
            </div>
            <div id="contacts-office-container">
                <div class="office-container" id="vc-sofia">
                    <div id="office-container-logo">
                        <img src="{% static 'img/Ready-stock/Logo/AIM_logo-colored.png' %}" alt="">
                    </div>
                    <hr class="hr">
                    <div id="office-container-text">
                        <h4>WORK & TRAVEL AGENCY</h4>
                        <p>София, Студентски Град</p>
                        <p>ул. Йордан Йосифов №2 (до авт.спирка на Joy Station)</p>
                        <div id="phone-div">
                            <a href="tel:0889966583">+359 889 966 583</a>
                            <div class="vl">
                                <hr>
                            </div>
                            <a href="tel:0884783801">+359 884 783 801</a>
                        </div>
                        <div id="mail-div">
                            <a href="https://www.aimtravel.bg">www.aimtravel.bg</a>
                            <div class="vl">
                                <hr>
                            </div>
                            <a href="mailto:studentski@aimtravel.bg">studentski@aimtravel.bg</a>
                        </div>
                    </div>
                </div>
                <div id="location-container" class="responsive-map map-sofia">
                    <div class="location-div">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.3549760231135!2d23.344753582692363!3d42.65383249706103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8424acd6e7ab%3A0x98b22b079ac66bde!2zQUlNIFRyYXZlbCBVU0EgLSDQodGC0YPQtNC10L3RgtGB0LrQuCDQkdGA0LjQs9Cw0LTQuCDQsiDQodCQ0Kk!5e0!3m2!1sen!2sbg!4v1696253779862!5m2!1sen!2sbg"
                                width="280" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="office-container" id="vs-varna">
                    <div id="office-container-logo">
                        <img src="{% static 'img/Ready-stock/Logo/AIM_logo-colored.png' %}" alt="">
                    </div>
                    <hr class="hr">
                    <div id="office-container-text">
                        <h4>WORK & TRAVEL AGENCY</h4>
                        <p>Варна, бул. Цар Освободител №19</p>
                        <div id="phone-div">
                            <a href="tel:0878630072">+359 878 630 072</a>
                        </div>
                        <div id="mail-div">
                            <a href="https://www.aimtravel.bg">www.aimtravel.bg</a>
                            <div class="vl">
                                <hr>
                            </div>
                            <a href="mailto:studentski@aimtravel.bg">studentski@aimtravel.bg</a>
                        </div>

                    </div>
                </div>
                <div id="location-container" class="responsive-map map-varna">
                    <div class="location-div">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d305.6714587237082!2d27.922399472511646!3d43.208369529611154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a455a885ff9139%3A0xb0b18f3c8941b1ce!2zQUlNIFRyYXZlbCBVU0EgLSDQodGC0YPQtNC10L3RgtGB0LrQuCDQkdGA0LjQs9Cw0LTQuCDQsiDQodCQ0Kk!5e0!3m2!1sen!2sbg!4v1725950753388!5m2!1sen!2sbg"
                                width="280" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

            </div>
        </section>

        <section id="contacts-location-section">
            <div id="location-container">
                <div class="row">
                    <div class="location-div">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.3549630957173!2d23.34386741199999!3d42.65383277104689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8424acd6e7ab%3A0x98b22b079ac66bde!2zQUlNIFRyYXZlbCAtINCh0YLRg9C00LXQvdGC0YHQutC4INCR0YDQuNCz0LDQtNC4INCyINCh0JDQqQ!5e0!3m2!1sen!2sbg!4v1694206140076!5m2!1sen!2sbg"
                                width="450" height="330" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="location-div">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d305.6714587237082!2d27.922399472511646!3d43.208369529611154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a455a885ff9139%3A0xb0b18f3c8941b1ce!2zQUlNIFRyYXZlbCBVU0EgLSDQodGC0YPQtNC10L3RgtGB0LrQuCDQkdGA0LjQs9Cw0LTQuCDQsiDQodCQ0Kk!5e0!3m2!1sen!2sbg!4v1725950753388!5m2!1sen!2sbg"
                                width="450" height="330" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </section>

        <section id="contacts-query-form">
            <div id="contacts-query-form-container">

                <!-- Vector image START -->
                <div id="contacts-query-form-image">
                    <img src="{% static 'img/Ready-stock/wat-usa-financial.png' %}" alt="">
                </div>
                <!-- Vector image END -->

                <!-- Contact form START -->
                <section id="contact-form">
                    <div class="text-area">
                        <h1><b>Изпратете Запитване</b></h1>
                        <p>Поставяйки <span>персоналното отношение</span> на първо място, ние от AIM travel ще ви
                            консултираме
                            възможно най-добре
                            за работната оферта и ще ви помогнем да намерите най-добрата за вас.</p>
                    </div>

                    <form action="/submit-form/" method="POST">
                        {% csrf_token %}
                        <div class="query-form">
                            <div class="name-part line">
                                <div class="sub-line">
                                    <label for="name">Име и Фамилия</label>
                                    <input type="text" name="name" id="name" class="form-field-semi">
                                </div>
                                <div class="sub-line">
                                    <label for="university">Университет</label>
                                    <input type="text" name="university" id="university" class="form-field-semi">
                                </div>
                            </div>
                            <div class="contact-part line">
                                <div class="sub-line">
                                    <label for="email-field">Email</label>
                                    <input type="email" name="email-field" id="email-field" class="form-field-semi">
                                </div>
                                <div class="sub-line">
                                    <label for="phone-field">Телефон</label>
                                    <input type="text" name="phone-field" id="phone-field" class="form-field-semi">
                                </div>
                            </div>
                            <div class="message-part line">
                                <div class="sub-line">
                                    <label for="message">Съобщение</label>
                                    <input type="text" name="message" id="message" class="form-field-text">
                                </div>
                            </div>
                            <div class="button-part line">

                                <button type='submit' class="query-btn slider-btn">ИЗПРАТИ</button>

                            </div>
                        </div>
                    </form>


                </section>
                <!-- Contact form END -->

            </div>
        </section>
        <!-- =======================
        Contact form and vector END -->


    </main>
    <!-- **************** MAIN CONTENT END **************** -->
{% endblock %}