{% extends 'base.html' %}
{% load static %}

{% block content %}
    <img id="online-page-flag1" class="usa-flag" src="../../static/img/USA%20Flag.png" alt="">

    <main>
        <div id="intern-container" class="column align-centered">
            <section id="wat-usa-header-intern">
                <div class="position-rel h2b-background">
                    <div class="background-gradient-intern" id="offers-header-sub">
                        <div id='text-container'>
                            <h1>РАБОТА ЗА НЕСТУДЕНТИ В САЩ</h1>
                            <h1>H2B VISA</h1>
                        </div>
                    </div>
                </div>
            </section>
            <section id="offers-video-intern">
                <div id="main-offers-video">
                    <a href="https://www.youtube-nocookie.com/embed/EAx-L-U3m_o?controls=0" data-glightbox
                       class="glightbox2" data-effect="fade">
                        <div class="fancy-background"></div>
                        <img src="../../static/img/thumbnail.JPG" alt="">

                        <div class="white-wrapper">
                            <div class="play-button">
                                <div class="inner-circle">
                                    <svg width="34px" height="34px" stroke-width="1.5" viewBox="0 0 22 22" fill="none"
                                         xmlns="http://www.w3.org/2000/svg" color="#ffffff">
                                        <path d="M6.906 4.537A.6.6 0 006 5.053v13.894a.6.6 0 00.906.516l11.723-6.947a.6.6 0 000-1.032L6.906 4.537z"
                                              stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round" fill="white"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div id="main-offers-video-logo">
                            <img src="../../static/img/Ready-stock/Logo/AIM_logo-ROUNDED.png" alt="logo">
                        </div>
                        <div id="main-offers-video-details" class="vertical-line">
                            <p>AIM Travel</p>
                        </div>
                    </a>
                </div>
            </section>
            <section id="online-general-section">
                <div class="general-section-container">
                    <div class="general-section-text-container">
                        <h3>H2B Програма в САЩ: Възможности за Временни Работници от България</h3>
                        <p>H2B в САЩ е програма за временни работници, която позволява на работодатели от САЩ да наемат
                            работници от чужбина за временно или сезонно заетите. За разлика от други програми, като J1
                            визата, не е необходимо да сте студент, за да участвате в H2B програмата. Тази програма
                            предоставя възможност на квалифицирани работници в различни индустрии като селско
                            стопанство,
                            горско стопанство, строителство, туризъм, хотелиерство и много други.

                            Също така, има голямо търсене на работници в сфери като ресторанти, басейни и развлекателни
                            съоръжения, което прави програмата привлекателна за тези, които търсят сезонна работа в САЩ.
                            H2B
                            програмата осигурява легитимна възможност за чуждестранни работници да получат временна
                            работа в
                            една от най-големите икономики в света. Свържи се с AIM Travel USA за повече информация.</p>
                    </div>
                    <div class="general-section-image-container">
                        <img src="{% static 'img/Ready-stock/WEBP version/Uncle_Samat.png' %}" alt="">
                    </div>

                </div>
                <div id="anchor-requirements"></div>
            </section>
            <section id="online-price-section" class="red-background">
                <div class="column white-txt align-centered">
                    <div id="price-section-header">
                        <h2>Подробности за H2B визата</h2>
                    </div>

                    <div id="service-container">
                        <div class="row">
                            <div class="service-intern">
                                <div class="icon">
                                    <img src="{% static 'img/money_icon.png' %}" alt="">
                                </div>
                                <div class="service-header">
                                    <h1>ДОСТЪПНА ЗА РАБОТНИЦИ ОТ ЦЯЛ СВЯТ</h1>
                                </div>
                                <div class="service-description">
                                    <p>За всички, които са готови да работят в САЩ в рамките на временен период. Тази
                                        програма е изключително полезна за работодатели, които имат нужда от работници
                                        за
                                        краткосрочни или сезонни проекти, но не могат да ги намерят на местно ниво.</p>
                                </div>
                            </div>
                            <div class="service-intern">
                                <div class="icon">
                                    <img src="{% static 'img/tasks_icon.png' %}" alt="">
                                </div>
                                <div class="service-header">
                                    <h1>ЛЕСНИ СТЪПКИ ЗА КАНДИДАТСТАВАНЕ</h1>
                                </div>
                                <div class="service-description">
                                    <p>Осъществява се чрез регистрация на сайта на програмата, като работниците трябва
                                        да
                                        отговарят на определени изисквания, като например да имат опит в съответната
                                        област,
                                        да говорят английски език на ниво, достатъчно за изпълнението на работата, и да
                                        отговарят на други изисквания, свързани с определеното работно място.</p>
                                </div>
                            </div>
                            <div class="service-intern">
                                <div class="icon">
                                    <img src="{% static 'img/paying_icon.png' %}" alt="">
                                </div>
                                <div class="service-header">
                                    <h1>ВЪЗМОЖНОСТ ЗА РАЗВИТИЕ НА ПРОФЕСИОНАЛНИ УМЕНИЯ</h1>
                                </div>
                                <div class="service-description">
                                    <p>След одобрение на кандидатурата, работниците получават временна виза за САЩ,
                                        която им
                                        позволява да работят в страната за определен период от време. Тази програма е
                                        отлична възможност за работници от чужбина да работят в САЩ и да развият своите
                                        професионални умения в различни области.</p>
                                </div>
                            </div>
                        </div>


                        <div id="online-free-anchor"></div>
                    </div>
                    <p class="text-centered text-start">Ако търсите възможности за работа в САЩ, H2B програмата може да
                        бъде
                        отличен начин да
                        започнете. </p>

                </div>
            </section>
            <section id="online-cta-section">
                <div id="cta-background-gradient">
                    <div id="cta-container">
                        <h1>АБОНИРАЙ СЕ ЗА НАШИЯ БЮЛЕТИН</h1>
                        <div id="cta-subtext">
                            <p>Абонирай се и получавай актуални новини, промоции и полезна информация от нас, директно
                                на
                                твоя
                                имейл. Бъди винаги информиран отностно най-важните събития и специални оферти.</p>
                        </div>
                        <div class="slider-btn">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeqelCnUhkOrWtr7UJtpcKxIuBBfNsaRg4_JytT9lJGKqXt8Q/viewform"
                               target="_blank">АБОНИРАЙ СЕ</a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="useful-links">

                <div id="useful-links-container">


                    <div class="useful-links-text-container filter-button">
                        <div id="heading-useful-links">
                            <h1>Полезни Връзки</h1>
                        </div>
                        <div id="links-useful-links">
                            <a href="{% url 'offers' %}">Работни Оферти</a>
                            <a href="{% url 'wat usa' %}#price-section">Колко Струва да отида на Бригада</a>
                            <a href="{% url 'story' %}">Истории на Студенти</a>
                            <a href="{% url 'wat usa' %}#faq-section">Най-често Срещани Въпроси</a>
                        </div>
                    </div>
                    <div class="general-section-image-container">
                        <div id="useful-links-picture">
                            <img src="{% static 'img/Ready-stock/WEBP version/plams.png' %}" alt="">
                            <div class="white-border"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}