{% extends 'base.html' %}
{% load static %}

{% block content %}

    <img id="wat-usa-page-flag1" class="usa-flag" src="../../static/img/USA%20Flag.png" alt="">
    <main>

        <div id="intern-container" class="column align-centered width-100">
            <section id="wat-usa-header-intern">
                <div class="position-rel intern-background">
                    <div class="background-gradient-intern" id="offers-header-sub">
                        <div id='text-container'>
                            <h1>Какво представлява програмата</h1>
                            <h1>Internship/Trainee в САЩ?</h1>
                        </div>
                    </div>
                </div>
            </section>
            <section id="offers-video-intern">
                <div id="main-offers-video">
                    <a href="https://www.youtube-nocookie.com/embed/EAx-L-U3m_o?controls=0" data-glightbox
                       class="glightbox2" data-effect="fade">
                        <div class="fancy-background"></div>
                        <img src="../../static/img/thumbnail.JPG" alt="">

                        <div class="white-wrapper">
                            <div class="play-button">
                                <div class="inner-circle">
                                    <svg width="34px" height="34px" stroke-width="1.5" viewBox="0 0 22 22" fill="none"
                                         xmlns="http://www.w3.org/2000/svg" color="#ffffff">
                                        <path d="M6.906 4.537A.6.6 0 006 5.053v13.894a.6.6 0 00.906.516l11.723-6.947a.6.6 0 000-1.032L6.906 4.537z"
                                              stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"
                                              stroke-linejoin="round" fill="white"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div id="main-offers-video-logo">
                            <img src="../../static/img/Ready-stock/Logo/AIM_logo-ROUNDED.png" alt="logo">
                        </div>
                        <div id="main-offers-video-details" class="vertical-line">
                            <p>AIM Travel</p>
                        </div>
                    </a>
                </div>
            </section>
            <section id="general-section">
                <div class="width-60">
                    <div class="general-section-container">
                        <div class="internship-text-container">
                            <h1>Internship / Professional Career Training</h1>
                            <p>Internship / Professional Career Training USA – Твоята Врата към Успешна Кариера!

                                Програмата Internship USA е една от най-търсените и престижни възможности за стаж в САЩ,
                                предназначена за студенти и млади професионалисти, които искат да направят следващата
                                голяма
                                стъпка в своето професионално развитие. С Internship / Professional Career Training USA
                                не
                                просто получаваш стаж – получаваш неоценим опит в световен мащаб, който ще отвори нови
                                хоризонти в кариерата ти. А ние от AIM Travel USA ще ти помогнем във всяка стъпка по
                                пътя!

                                Защо да избереш Internship USA?
                                Тази програма предоставя уникалната възможност да:

                                Придобиеш професионален опит в топ компании в САЩ, работейки в сфери като бизнес,
                                технологии, медии, маркетинг, финанси, медицина и много други.
                                Развиеш уменията си и да издигнеш професионалните си компетенции на ново ниво, което ще
                                те
                                отличи на глобалния пазар на труда.
                                Изградиш мрежа от контакти в една от най-динамичните икономики в света, която ще ти
                                помогне
                                да ускориш кариерното си развитие.
                                Опознаеш американската култура и работен стил, който е лидер в иновациите и
                                професионалното развитие.
                                И не се притеснявай за административните детайли – AIM Travel USA ще се погрижи за
                                всичко:
                                от намирането на подходящия стаж до подготовката на всички документи!

                                Кой може да участва?
                                Програмата е отворена за студенти, които са завършили поне втори курс, както и за млади
                                професионалисти, които искат да надградят своя опит. Ние от AIM Travel USA ще те свържем
                                с
                                компании в разнообразни индустрии като маркетинг, финанси, информационни технологии,
                                медицина и още много други.

                                Условия за участие:
                                Трябва да имаш осигурена позиция преди заминаването си за САЩ, а AIM Travel USA ще ти
                                помогне да намериш най-подходящата за теб възможност.
                                Стажът трябва да бъде пряко свързан с твоята специалност или професионален опит, за да
                                гарантираш максимално развитие на твоите умения.
                                Не се изисква нискоквалифициран труд – целта на стажа е да ти даде истински
                                професионални предизвикателства и развитие.
                                Какви са предимствата?
                                Продължителност на програмата: До 12 месеца за Internship и до 18 месеца за Trainee
                                категорията, в зависимост от твоите цели и избраната позиция.
                                Гъвкавост: Програмата няма фиксирани начални и крайни дати, което ти дава свобода да
                                планираш своето участие спрямо личния ти график и ангажименти.
                                Ние от AIM Travel USA ще бъдем с теб през цялото време – от първоначалната консултация
                                до
                                подкрепата при адаптацията ти в САЩ. Ще се погрижим за визовите процедури, документите и
                                всякакви други нужди по време на програмата!

                                Готов ли си да започнеш своята кариера в САЩ?
                                Не пропускай шанса да станеш част от програмата, която променя съдби и отваря вратите
                                към
                                международния успех. С подкрепата на AIM Travel USA, Internship USA ще ти даде всичко
                                необходимо, за да изградиш успешна кариера, да усъвършенстваш уменията си и да се
                                откроиш на
                                световния пазар на труда.

                                Запиши се днес и стартирай пътуването към твоето професионално бъдеще с AIM Travel
                                USA!</p>
                        </div>
                    </div>
                </div>
                <div id="anchor-requirements"></div>
            </section>
            <section id="requirements-section">
                <div id="requirements-section-header">
                    <p>За Участие в Програмата Internship USA:</p>
                </div>
                <div>
                    <div class="row">
                        <div class="requirements-section-information-container">
                            <div class="information-container">
                                <div class="icon-container">
                                    <img id="icon2" src="{% static 'img/icons/wat-usa-2.png' %}" alt="">
                                </div>
                                <h4>Да си редовен студент</h4>
                                <p>(Да си студент редовно обучение или да си завършил редовна форма на
                                    обучение преди не повече от 12 месеца.)</p>
                            </div>
                        </div>
                        <div class="requirements-section-information-container row">
                            <div class="information-container">
                                <div class="icon-container">
                                    <img id="icon4" src="{% static 'img/icons/job-education-blue.png' %}" alt="">
                                </div>
                                <h4>Стажът да е по специалността</h4>
                                <p>(Стажът да е свързан със специалността, изучавана в университета.)</p>
                            </div>
                        </div>

                        <div class="requirements-section-information-container">
                            <div class="information-container">
                                <div class="icon-container">
                                    <img id="icon5" src="{% static 'img/icons/age-blue.png' %}" alt="">
                                </div>
                                <h4>18 - 30 годишна възраст</h4>
                                <p>(Да си на възраст между 18 – 30 години.)</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="requirements-section-information-container row">
                            <div class="information-container">
                                <div class="icon-container">
                                    <img id="icon1" src="{% static 'img/icons/wat-usa-1.png' %}" alt="">
                                </div>
                                <h4>Да владееш Английски език</h4>
                                <p>(Да имаш напреднало ниво на владеене на английски език)</p>
                            </div>
                        </div>
                        <div class="requirements-section-information-container">
                            <div class="information-container">
                                <div class="icon-container">
                                    <img id="icon2" src="{% static 'img/icons/liberty-blue.png' %}" alt="">
                                </div>
                                <h4>Желание да се докоснеш до американската култура</h4>
                                <p>(Да имаш желание да посетиш САЩ и да научиш повече за американския начин
                                    на живот.)</p>
                            </div>
                        </div>

                    </div>

                </div>

                <br>
                <br>
                <br>

                <div id="requirements-section-header">
                    <p>За Участие в Програмата Training USA:</p>
                </div>
                <div>
                    <div class="row">

                        <div class="requirements-section-information-container">
                            <div class="information-container">
                                <div class="icon-container">
                                    <img id="icon5" src="{% static 'img/icons/age-blue.png' %}" alt="">
                                </div>
                                <h4>20 - 40 годишна възраст</h4>
                                <p>(Да си на възраст между 20 и 40 години.)</p>
                            </div>
                        </div>
                        <div class="requirements-section-information-container">
                            <div class="information-container">
                                <div class="icon-container">
                                    <img id="icon2" src="{% static 'img/icons/wat-usa-2.png' %}" alt="">
                                </div>
                                <h4>Да имаш завършено висше образование</h4>
                                <p>(Да имаш завършено висше образование и поне една година професионален
                                    опит в избраната сфера.)</p>
                            </div>
                        </div>


                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="requirements-section-information-container row">
                            <div class="information-container">
                                <div class="icon-container">
                                    <img id="icon4" src="{% static 'img/icons/job-education-blue.png' %}" alt="">
                                </div>
                                <h4>Стажът да е по специалността</h4>
                                <p>(Стажът да е свързан със специалността, изучавана в университета.)</p>
                            </div>
                        </div>
                        <div class="requirements-section-information-container row">
                            <div class="information-container">
                                <div class="icon-container">
                                    <img id="icon1" src="{% static 'img/icons/wat-usa-1.png' %}" alt="">
                                </div>
                                <h4>Да владееш Английски език</h4>
                                <p>(Да имаш напреднало ниво на владеене на английски език)</p>
                            </div>
                        </div>
                        <div class="requirements-section-information-container">
                            <div class="information-container">
                                <div class="icon-container">
                                    <img id="icon2" src="{% static 'img/icons/liberty-blue.png' %}" alt="">
                                </div>
                                <h4>Желание да се докоснеш до американската култура</h4>
                                <p>(Да имаш желание да посетиш САЩ и да научиш повече за американския начин
                                    на живот.)</p>
                            </div>
                        </div>

                    </div>

                </div>
            </section>
            <section id="price-section">
                <div id="price-section-inner-container" class="inner-container">
                    <div id="price-section-header">
                        <h2>Колко струва програмата?</h2>
                        {% if prices.validity_date_day %}
                            <p>САМО ДО {{ prices.validity_date_day }} {{ prices.validity_date_month }}</p>
                        {% endif %}
                    </div>
                    <div id="pricing-container">
                        <div class="price-container">
                            <div class="price-container-header">
                                <p>6 месеца</p>
                            </div>
                            <div class="price-container-text">
                                <div id="prices">
                                    {% if prices.discounted_self_arrange %}
                                        <h2>Промо {{ prices.actual_self_arrange|floatformat }}$ -</h2>
                                        <h3 class="line-thru">{{ prices.discounted_self_arrange|floatformat }}$</h3>
                                    {% else %}
                                        <h2>{{ prices.actual_self_arrange|floatformat }}$</h2>
                                    {% endif %}
                                    <h3>3500$ + 220% Sevis Fee</h3>
                                </div>

                            </div>

                        </div>
                        <div class="price-container">
                            <div class="price-container-header">
                                <p>12 месеца</p>
                            </div>
                            <div class="price-container-text">
                                <div id="prices">
                                    {% if prices.discounted_standard %}
                                        <h2>Промо {{ prices.actual_standard|floatformat }}$ -</h2>
                                        <h3 class="line-thru">{{ prices.discounted_standard|floatformat }}$</h3>
                                    {% else %}
                                        <h2>{{ prices.actual_standard|floatformat }}$</h2>
                                    {% endif %}
                                    <h3>4199$ + 220% Sevis Fee</h3>
                                </div>
                            </div>

                        </div>
                        <div class="price-container">
                            <div class="price-container-header">
                                <p>18 месеца</p>
                            </div>
                            <div class="price-container-text">
                                <div id="prices">
                                    {% if prices.discounted_premium %}
                                        <h2>Промо {{ prices.actual_premium|floatformat }}$ -</h2>
                                        <h3 class="line-thru">{{ prices.discounted_premium|floatformat }}$</h3>
                                    {% else %}
                                        <h2>{{ prices.actual_premium|floatformat }}$</h2>
                                    {% endif %}
                                    <h3>4799$ + 220% Sevis Fee</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="price-container-intern">
                        <div class="price-container-text"><h4>Цената включва:</h4></div>
                        <div class="option-list">
                            <ul>
                                <li>Издаване на работно разрешително</li>
                                <li>Асистиране при подготовката на всички документи</li>
                                <li>Визово интервю в Американското посолство</li>
                                <li>Пълна здравна застраховка за целия престой</li>
                                <li>Онлайн ориентация преди заминаването за САЩ</li>
                                <li>Наръчник на участника</li>
                                <li>Организиране на пътуването до САЩ</li>
                                <li>24 часова телефонна линия за спешни случаи от страна на американската спонсорираща
                                    организация
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="additional-pricing-container">
                        <div id="pricing-sub-header">
                            <p>Допълнителни разходи:</p>
                        </div>
                        <div id="pricing-row1">
                            <div class="element">
                                <div class="price">{{ prices.sevis|floatformat }}220$</div>
                                <div class="description">Такса Sevis</div>
                            </div>
                            <div class="element">
                                <div class="price">{{ prices.visa_interview|floatformat }}185$</div>
                                <div class="description">Такса визово интервю</div>
                            </div>
                            <div class="element">
                                <div class="price">{{ prices.plane_ticket_lowest|floatformat }}700$
                                    – 1000{{ prices.plane_ticket_highest|floatformat }}$
                                </div>
                                <div class="description">Самолетен билет
                                    <div class="info-tooltip">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16"
                                             viewBox="0 0 17 16"
                                             fill="none">
                                            <g clip-path="url(#clip0_2382_8887)">
                                                <path d="M8.16862 7.66658V10.9999M8.16862 5.00659L8.17529 4.99925M8.16862 14.6666C11.8506 14.6666 14.8353 11.6819 14.8353 7.99992C14.8353 4.31792 11.8506 1.33325 8.16862 1.33325C4.48662 1.33325 1.50195 4.31792 1.50195 7.99992C1.50195 11.6819 4.48662 14.6666 8.16862 14.6666Z"
                                                      stroke="white" stroke-width="1.5" stroke-linecap="round"
                                                      stroke-linejoin="round"/>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_2382_8887">
                                                    <rect width="16" height="16" fill="white"
                                                          transform="translate(0.167969)"/>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                        <div class="info-tooltip-element">
                                            <p>Цената варира в зависимост от града на пристигане.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="pricing-row2">
                            <div class="element">
                                {#                            <div class="price">{{ prices.sign_up_fees|floatformat }}$</div>#}
                                <div class="description">*Възможност за търсене на стаж по зададени от кандидата
                                    критерии.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="pricing-button">
                        <div id="pricing-btn" class="pricing-btn">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTrITzNwfLpNJoHx6gy6zZVOuPaW_CMZoHt08SfdxepdNzeQ/viewform"
                               target="_blank">
                                <script>
                                    function gtag_report_conversion(url) {
                                        var callback = function () {
                                            if (typeof (url) != 'undefined') {
                                                window.location = url;
                                            }
                                        };
                                        gtag('event', 'conversion', {
                                            'send_to': 'AW-825631983/ogJ3CLaC--gYEO_J2IkD',
                                            'event_callback': callback
                                        });
                                        return false;
                                    }
                                </script>
                                <script type="text/javascript">
                                    $('#$addToCartButton').click(function () {
                                        fbq('track', 'Subscribe');
                                    });
                                </script>
                                ЗАПИШИ СЕ СЕГА</a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="financial-option-section">
                <div id="financial-inner-container" class="inner-container row">


                    <div id="text-information">
                        <h1>Как да платиш</h1>
                        <ul>
                            <li>В брой или по банков път (може и <span>Revolut</span>).</li>
                            <li>Вариант 1: Депозит от 100$, с който си резервираш мястото в програмата. Останалото след
                                като
                                вече имаш осигурена работна оферта
                            </li>
                            <li>Вариант 2: Плащаш 1099$ и остатъкът от програмната такса се заплаща на вноски докато си
                                в Америка (пример: 12 месеца по 200$ на месеца се приспадат от пейчека).
                            </li>
                            <span>*Плащаш Sevis Fee в размер от 220$<br>
*Плащаш визово интервю в размер от 185$<br>
                            *Плащаш самолетен билет – заплаща се капаро преди Визовото Интервю в
Американското посолство в размер от 200$. След като се вземе визата се
доплаща остатък за самолетен билет. </span>
                            <div id="anchor-how-to"></div>
                        </ul>
                    </div>
                    <div id="picture-information">
                        <img src="{% static 'img/Ready-stock/wat-usa-financial.png' %}" alt="">
                    </div>
                    <div id="text-information" class="column align-centered">
                        <h1>Плати с Revolut</h1>
                        <p style="padding: 0; margin: 0;">Сканирай QR кода</p>
                        <div>
                            <img class="qr-code" src="{% static 'img/qr/qr_revolut.png' %}" alt="">
                        </div>
                        <p>или натисни линка</p>
                        <a class="query-btn white-txt" href="https://revolut.me/agencycu0q">Плати с Revolut</a>
                    </div>

                </div>


            </section>
            <section id="story-section">
                <div id="story-heading">
                    <p id="heading-story">Истории на Студенти</p>
                </div>
                <div id="story">
                    {% if main_feedback %}
                        {% for feedback in main_feedback %}
                            <div id="story-1" class="story-container">
                                <div class="story-img">
                                    <img src="{{ feedback.feedback_1_image.url }}" alt="pic1">
                                    <div class="white-border"></div>
                                </div>
                                <div class="story-text">
                                    <h3>{{ feedback.feedback_1_title }}</h3>
                                    <p>{{ feedback.feedback_1_content|safe }}</p>
                                    <a href="{% url 'story' %}">Прочети Статия</a>
                                </div>
                            </div>
                        {% endfor %}

                    {% else %}

                        <p> Към момнета няма добавени истории.</p>
                    {% endif %}
                </div>
                <div id="story-button" class="slider-btn">
                    <a href="{% url 'story' %}">ВИЖ ОЩЕ ИСТОРИИ</a>
                </div>
            </section>
            <section id="faq-section">
                <div id="faq-header">Често задавани въпроси</div>
                <div id="faq-container">
                    {% if faq %}
                        {% for element in faq %}
                            {% if forloop.counter0|divisibleby:2 %}
                                <div class="faq-row">
                            {% endif %}
                        <div class="faq-content">
                            <div class="faq-content-header">
                                <p>{{ element.faq_title }}</p>
                                <div class="arrow-down">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 40 40"
                                         fill="none">
                                        <path d="M10 15L20 25L30 15" stroke="#00355E" stroke-width="3"
                                              stroke-linecap="round"
                                              stroke-linejoin="round"/>
                                    </svg>
                                </div>
                                <div class="arrow-up">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 40 40"
                                         fill="none">
                                        <path d="M10 25L20 15L30 25" stroke="#00355E" stroke-width="3"
                                              stroke-linecap="round"
                                              stroke-linejoin="round"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="faq-content-description">
                                <p>{{ element.faq_description }}</p>
                            </div>
                        </div>

                        {% if forloop.counter|divisibleby:2 or forloop.last %}

                            </div>
                        {% endif %}

                        {% endfor %}
                    {% endif %}
                </div>

            </section>
        </div>
    </main>

{% endblock %}