{% extends 'base.html' %}
{% block content %}
    <br>
    <section id="news-details">
        <div id="offer-details-top-row">
            <div id="offer-details-heading">
                <h1>{{ news.news_title }}</h1>
                <span>{{ news.date|date }}</span>
            </div>
        </div>

        <div id="news-details-highlights">
            <div id="offer-picture">
                {% if news.news_image %}
                    <img src="{{ news.news_image.url }}" alt="news image">
                    <div class="white-border"></div>
                {% endif %}
            </div>
            <div id="news-description-container">
                <div id="offer-description">
                    <p>{{ news.news_content|safe }}</p>
                </div>
            </div>
            <a href="{% url 'news' %}" class="slider-btn white-txt width-200px">← Назад към новините</a>
        </div>
    <br>
    <br>
    <br>


    </section>
{% endblock %}
