{% extends 'base.html' %}

{% block content %}


    <!-- **************** MAIN CONTENT START **************** -->
    <main>

        <!-- =======================
        Main banner START -->
        <section class="py-0">
            <div class="container">
                <!-- Title -->
                <div class="row g-4" style="margin-top: 200px">
                    <!-- Image -->

                    <!-- Title and content -->
                    <div class="col-11 col-lg-10 mx-auto position-relative mt-n5 mt-sm-n7 mt-md-n8">
                        <div class="bg-mode shadow rounded-3 p-4">
                            <!-- Badge -->
                            <div class="badge text-bg-success mb-2">AIM Work & Travel</div>
                            <!-- Title -->
                            <h1 class="fs-2" style="text-align: center">АКТУАЛНО</h1>
                            {% if page_obj %}

                                {% for news in page_obj %}

                                    <div class="bg-mode shadow rounded-3 p-4">
                                        <img src="{{ news.news_image }}" alt="" style="max-height: 150px">
                                        <h2 class="fs-3"> {{ news.news_title }} </h2>
                                        <p> {{ news.news_content }}</p>
                                        <p style="font-style: italic; text-align: right;">{{ news.date|date }}</p>
                                    </div>
                                    <br/>

                                {% endfor %}
                            {% else %}
                                <p>В момента няма нищо ново.</p>
                            {% endif %}
                            <div style="text-align: center">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">Начало</a>
                                <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
                            {% endif %}
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">Напред</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">Последна</a>
                            {% endif %}
                        </div>





                    </div>




                </div>
            </div>
            </div>

        </section>
        <!-- =======================
        Blog content END -->

    </main>
    <!-- **************** MAIN CONTENT END **************** -->

{% endblock %}