{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIM Travel - Online-services</title>

    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/node_modules/glightbox/dist/css/glightbox.min.css">
    <script src="../../static/node_modules/glightbox/dist/js/glightbox.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QS8LXF1MN1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-QS8LXF1MN1');
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-825631983"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'AW-825631983');
    </script>
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '489738488628741');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=489738488628741&ev=PageView&noscript=1"
    /></noscript>

</head>

<body id="online-services">
<header id="online-services-header">
    {% include 'navigation.html' %}

    <section id="online-header">
        <div class="offers-background">
            <div class="background-gradient" id="offers-header-sub">
                <div id='text-container'>
                    <h1>КАК ДА ОРГАНИЗИРАМЕ ОНЛАЙН ПОДГОТОВКА ЗА ЗАМИНАВАНЕ?</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="offers-video">
        <div id="main-offers-video">
            <a href="https://www.youtube-nocookie.com/embed/EAx-L-U3m_o?controls=0" data-glightbox
               class="glightbox2" data-effect="fade">
                <div class="fancy-background"></div>
                <img src="../../static/img/thumbnail.JPG" alt="">

                <div class="white-wrapper">
                    <div class="play-button">
                        <div class="inner-circle">
                            <svg width="34px" height="34px" stroke-width="1.5" viewBox="0 0 22 22" fill="none"
                                 xmlns="http://www.w3.org/2000/svg" color="#ffffff">
                                <path d="M6.906 4.537A.6.6 0 006 5.053v13.894a.6.6 0 00.906.516l11.723-6.947a.6.6 0 000-1.032L6.906 4.537z"
                                      stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round" fill="white"></path>
                            </svg>
                        </div>
                    </div>
                </div>

                <div id="main-offers-video-logo">
                    <img src="../../static/img/Ready-stock/Logo/AIM_logo-ROUNDED.png" alt="logo">
                </div>
                <div id="main-offers-video-details" class="vertical-line">
                    <p>AIM Travel</p>
                </div>
            </a>
        </div>
    </section>
</header>
<img id="online-page-flag1" class="usa-flag" src="../../static/img/USA%20Flag.png" alt="">
<main>

    <section id="online-general-section">
        <div class="general-section-container">
            <div class="general-section-text-container">
                <h3>Нашите Онлайн Решения за Теб</h3>
                <p>В този раздел ще научиш как да координираш практически всички стъпки по подготовката за бригада в САЩ
                    от удобството на своя дом, без да се задължаваш да посещаваш нашия офис.<br><br>Kато за начало
                    трябва да прецениш дали имаш нужда да се свържеш с нас за съдействие по намиране на подходящата за
                    теб лятна
                    работа в САЩ. За тази цел може да си запазиш час за <span>Безплатна Консултация</span> с наш
                    специалист, които ще ти помогне да отговори на всички въпроси, които имаш.<br><br>Ако вече имаш опит
                    с нашата агенция или
                    си избрал подходящата за теб работна позиция, тогава можеш да преминеш към формата ни за записване и
                    така успешно да подадеш апликация!</p>
            </div>
            <div class="general-section-image-container">
                <img src="{% static 'img/Ready-stock/WEBP version/Uncle_Samat.png' %}" alt="">
            </div>

        </div>
        <div id="anchor-requirements"></div>
    </section>
    <section id="online-price-section" class="red-background">
        <div id="price-section-inner-container" class="inner-container">
            <div id="price-section-header">
                <h2>ОНЛАЙН ИЛИ НА МЯСТО В ОФИС</h2>
                <p>КАК ДА ИЗБЕРА?</p>
            </div>
            <div id="pricing-container">
                <div class="price-container">
                    <div class="price-container-text">
                        <img src="{% static 'img/icons/call-center.png' %}" alt="">
                        <p>ОНЛАЙН</p>
                    </div>
                    <div class="option-list">
                        <p>Не можеш да дойдеш на място или живееш и учиш в населено място, където няма офис на Aim
                            Travel? Няма проблеми – онлайн консултацията е решението, което ще ти спести всички тези
                            проблеми.</p>
                    </div>
                </div>
                <div class="price-container">
                    <div class="price-container-text">
                        <img src="{% static 'img/icons/partner.png' %}" alt="">
                        <p>НА МЯСТО В ОФИС</p>
                    </div>
                    <div class="option-list">
                        <p>Нашият офис е винаги отворен за всеки, който предпочита физически да научи повече за нашата
                            WAT USA програма, да се запознае с нас и да научи от първо лице всичко важно за бригадата в
                            САЩ.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="service-section" class="online-service-section">
        <div id="service-container-header">
            <p>Предимства на Онлайн Услугите</p>
        </div>
        <div id="service-container">
            <div class="row">
                <div class="service">
                    <div class="icon">
                        <img src="{% static 'img/money_icon.png' %}" alt="">
                    </div>
                    <div class="service-header">
                        <h1>НАЙ-АТРАКТИВНИТЕ РАБОТНИ ОФЕРТИ</h1>
                    </div>
                    <div class="service-description">
                        <p>Вече 10 години си партнираме с най-добрите работодатели. Нашите партньори гарантират
                            отлични работни оферти (Nantucket, Provincetown) с ангажимент към квартирата и условията на
                            работа на топ локации в САЩ.</p>
                    </div>
                </div>
                <div class="service">
                    <div class="icon">
                        <img src="{% static 'img/tasks_icon.png' %}" alt="">
                    </div>
                    <div class="service-header">
                        <h1>ЛЕСНИ СТЪПКИ ЗА КАНДИДАТСТАВАНЕ</h1>
                    </div>
                    <div class="service-description">
                        <p>Разработили сме бърз и лесен процес на кандидатстване с минимален разход на време от
                            страна на клиента. Подпомагаме кандидатите при процеса на кандидатстване, но и по време на
                            цялата програма.</p>
                    </div>
                </div>
                <div class="service">
                    <div class="icon">
                        <img src="{% static 'img/paying_icon.png' %}" alt="">
                    </div>
                    <div class="service-header">
                        <h1>ПЛАЩАНЕ НА ВНОСКИ ИЛИ СТУДЕНТСКИ КРЕДИТ</h1>
                    </div>
                    <div class="service-description">
                        <p>Платете програмата на вноски или със студентски кредит. Съвместно със Societe
                            Generale Експресбанк имате възможност да се възползвате от най-изгодния студентски кредит до
                            15000лв.</p>
                    </div>
                </div>
            </div>
            <div id="online-free-anchor"></div>
        </div>
    </section>
    <section id="online-free">
        <div class="general-section-container">
            <div class="general-section-text-container">
                <h3>Онлайн Консултация за Бригада в САЩ</h3>
                <p>Онлайн консултациите за бригада в САЩ предоставят несравнима гъвкавост и ефективност в организацията
                    на подготовката, когато не си ходил все още на бригада. Запиши се за безплатна онлайн консултация от
                    Aim Travel. По врема на нея, ще научиш най-важните неща предварително, освен това ще имаш възможност
                    да зададеш своите въпроси към колеги от нашия екип, които ще отговорят експертно и ще ти помогнат,
                    ако имаш някакви притеснения дали да се запишеш. <br>Има възможност и за
                    <span>онлайн дискусия</span>,
                    където в реално време ще може да питаш каквото те интересува, да видиш и чуеш какво мислят <span>другите студенти</span>
                    и какви въпроси ги вълнуват, последното няма как да се случи в срещите на живо! Не пропускай първата
                    по рода си онлайн консултация за WAT, която ще ти даде допълнителни ползи!</p>
                <div class="slider-btn free-consult-btn">
                    <a href="https://calendly.com/aimtravelusa/consultation" target="_blank">
                        <script>
                            function gtag_report_conversion(url) {
                                var callback = function () {
                                    if (typeof (url) != 'undefined') {
                                        window.location = url;
                                    }
                                };
                                gtag('event', 'conversion', {
                                    'send_to': 'AW-825631983/UYIiCLOC--gYEO_J2IkD',
                                    'event_callback': callback
                                });
                                return false;
                            }
                        </script>
                        <script>
                        function gtag_report_conversion(url) {
                            var callback = function () {
                                if (typeof (url) != 'undefined') {
                                    window.location = url;
                                }
                            };
                            gtag('event', 'conversion', {
                                'send_to': 'AW-825631983/UYIiCLOC--gYEO_J2IkD',
                                'event_callback': callback
                            });
                            return false;
                        } </script>
                        БЕЗПЛАТНА КОНСУЛТАЦИЯ</a>
                    <div id="online-register-anchor"></div>
                </div>
            </div>
            <div class="general-section-image-container">
                <div id="offer-picture">
                    <img src="{% static 'img/Ready-stock/WEBP version/plams.png' %}" alt="">
                    <div class="white-border"></div>
                </div>
            </div>

        </div>
    </section>
    <section id="online-register">
        <div class="general-section-container">

            <div class="general-section-image-container">
                <div id="offer-picture">
                    <img src="{% static 'img/Ready-stock/WEBP version/clock-tower.png' %}" alt="offer picture">
                    <div class="white-border"></div>
                </div>
            </div>
            <div class="general-section-text-container">
                <h3>Онлайн Регистрация за Бригада в САЩ</h3>
                <p>Вече си взел своето решение, че ще отидеш на бригада с нас, нямаш нужда от повече срещи на живо и
                    консултации и искаш да спестиш време без излишно чакане и отнемане на време? Сега вече можеш да се
                    <span>запишеш онлайн</span>, директно на сайта ни. Удобен и спестяващ време начин, особено в
                    най-натоварените
                    месеци, когато много студенти идват да се запишат в офисите ни. Стремейки се да предлагаме все
                    по-удобни варианти на студентите, заминаващи с нас на WAT, това е начинът да се опрости процеса и за
                    двете страни.<br>
                    Не си в София или друг град в който има офис на Aim Travel и не ти се идва само за да се запишеш на
                    бригада? Oнлайн формата за записване на сайта ни е перфектното решение за теб. Вече може да направиш
                    това от разстояние без никаква нужда да идваш в някой от офисите ни.</p>
                <div class="slider-btn free-consult-btn">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTrITzNwfLpNJoHx6gy6zZVOuPaW_CMZoHt08SfdxepdNzeQ/viewform"
                       target="_blank">
                        <script>
                            function gtag_report_conversion(url) {
                                var callback = function () {
                                    if (typeof (url) != 'undefined') {
                                        window.location = url;
                                    }
                                };
                                gtag('event', 'conversion', {
                                    'send_to': 'AW-825631983/ogJ3CLaC--gYEO_J2IkD',
                                    'event_callback': callback
                                });
                                return false;
                            }
                        </script>
                        ЗАПИШИ СЕ СЕГА</a>
                </div>
            </div>

        </div>
    </section>

    <section id="online-cta-section">
        <div id="cta-background-gradient">
            <div id="cta-container">
                <h1>АБОНИРАЙ СЕ ЗА НАШИЯ БЮЛЕТИН</h1>
                <div id="cta-subtext">
                    <p>Абонирай се и получавай актуални новини, промоции и полезна информация от нас, директно на твоя
                        имейл. Бъди винаги информиран отностно най-важните събития и специални оферти.</p>
                </div>
                <div class="slider-btn">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeqelCnUhkOrWtr7UJtpcKxIuBBfNsaRg4_JytT9lJGKqXt8Q/viewform"
                       target="_blank">АБОНИРАЙ СЕ</a>
                </div>
            </div>
        </div>
    </section>
    <section id="useful-links">

        <div id="useful-links-container">


            <div class="useful-links-text-container filter-button">
                <div id="heading-useful-links">
                    <h1>Полезни Връзки</h1>
                </div>
                <div id="links-useful-links">
                    <a href="">Работни Оферти</a>
                    <a href="">Колко Струва да отида на Бригада</a>
                    <a href="">Истории на Студенти</a>
                    <a href="">Най-често Срещани Въпроси</a>
                </div>
            </div>
            <div class="general-section-image-container">
                <div id="useful-links-picture">
                    <img src="{% static 'img/Ready-stock/WEBP version/plams.png' %}" alt="">
                    <div class="white-border"></div>
                </div>
            </div>
        </div>
    </section>

</main>

{% include 'footer.html' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{% static 'javascript/js_filtering.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/js_faq.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/js_dropdown.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/js_slider.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/js_navbar.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/js_video.js' %}"></script>
</body>

</html>