{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIM Travel - WAT USA</title>

    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/node_modules/glightbox/dist/css/glightbox.min.css">
    <script src="../../static/node_modules/glightbox/dist/js/glightbox.min.js"></script>

</head>

<body>
<header id="wat-header">
    <section id="top-header-section">
        <div id="top-header">
            <div id="top-header-left">
                <p id="top-header-left-p1">+359 88 99 66 583</p>
                <div class="vl">
                    <hr>
                </div>
                <p id="top-header-left-p2">studentski@aimtravel.bg</p>
                <div class="vl">
                    <hr>
                </div>
                <a href="https://forms.gle/4E3QXoidbTR2LHij9" id="top-header-left-p3">Абонирай се</a>
            </div>
            <div id="top-header-right">
                <p id="top-header-right-p1">Последвай ни в:</p>
                <div id="top-header-right-links">

                    <div id="top-header-right-links-icons">

                        <div id="insta-link">
                            <a href="https://www.instagram.com/aimtravel_usa/" target="_blank">
                                <?xml version="1.0" encoding="UTF-8"?>
                                <svg width="24px" height="24px" stroke-width="1.5"
                                     viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                    <path d="M12 16a4 4 0 100-8 4 4 0 000 8z" stroke="#FFFFFF" stroke-width="1.5"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M3 16V8a5 5 0 015-5h8a5 5 0 015 5v8a5 5 0 01-5 5H8a5 5 0 01-5-5z"
                                          stroke="#FFFFFF" stroke-width="1.5"></path>
                                    <path d="M17.5 6.51l.01-.011" stroke="#FFFFFF" stroke-width="1.5"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="vl">
                            <hr>
                        </div>
                        <div id="fb-link">
                            <a href="https://www.facebook.com/profile.php?id=100072235954652" target="_blank">
                                <?xml version="1.0" encoding="UTF-8"?>
                                <svg width="24px" height="24px" stroke-width="1.5"
                                     viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                    <path d="M17 2h-3a5 5 0 00-5 5v3H6v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3V2z"
                                          stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                </svg>
                            </a>

                        </div>
                        <div class="vl">
                            <hr>
                        </div>
                        <div id="youtube-link">
                            <a href="https://www.youtube.com/@aimtravel9347" target="_blank">
                                <?xml version="1.0" encoding="UTF-8"?>
                                <svg width="24px" height="24px" stroke-width="1.5"
                                     viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                    <path d="M14 12l-3.5 2v-4l3.5 2z" fill="#000000" stroke="#FFFFFF" stroke-width="1.5"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path
                                            d="M2 12.707v-1.415c0-2.895 0-4.343.905-5.274.906-.932 2.332-.972 5.183-1.053C9.438 4.927 10.818 4.9 12 4.9c1.181 0 2.561.027 3.912.065 2.851.081 4.277.121 5.182 1.053.906.931.906 2.38.906 5.274v1.415c0 2.896 0 4.343-.905 5.275-.906.931-2.331.972-5.183 1.052-1.35.039-2.73.066-3.912.066-1.181 0-2.561-.027-3.912-.066-2.851-.08-4.277-.12-5.183-1.052C2 17.05 2 15.602 2 12.708z"
                                            stroke="#FFFFFF" stroke-width="1.5"></path>
                                </svg>
                            </a>

                        </div>
                        <div class="vl">
                            <hr>
                        </div>
                        <div id="tiktok-link">
                            <a href="https://www.tiktok.com/@aim_travelusa" target="_blank">
                                <?xml version="1.0" encoding="UTF-8"?>
                                <svg width="24px" height="24px" stroke-width="1.5"
                                     viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                                    <path d="M21 8v8a5 5 0 01-5 5H8a5 5 0 01-5-5V8a5 5 0 015-5h8a5 5 0 015 5z"
                                          stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round"></path>
                                    <path d="M10 12a3 3 0 103 3V6c.333 1 1.6 3 4 3" stroke="#FFFFFF" stroke-width="1.5"
                                          stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="vl">
                            <hr>
                        </div>

                    </div>
                    <div id="top-header-right-login">
                        {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                                <a id="top-header-right-login-p1" href="https://new.aimtravel.bg/admin">Admin</a>
                            {% endif %}
                        {% else %}
                            <a id="top-header-right-login-p1" href="{% url 'sign in' %}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="header-nav">
        <nav>
            <ul id="header-nav-links-container">
                <li><a class="link-a" id="home-page" href="{% url 'index' %}">НАЧАЛО</a></li>
                <li class="dropdown link-a">
                    <a class="target-element link-a" id="wat-usa" href="#">Бригада САЩ</a>
                    <div class="tooltip">
                        <a href="{% url 'wat usa' %}#header-nav">ЗА ПРОГРАМАТА</a>
                        <a href="{% url 'wat usa' %}#anchor-requirements">ИЗИСКВАНИЯ</a>
                        <a href="{% url 'wat usa' %}#price-section">ЦЕНАТА</a>
                        <a href="{% url 'wat usa' %}#anchor-how-to">КАК ДА СЕ ЗАПИШЕШ</a>
                    </div>
                    <span class="dropdown-icon"></span>
                </li>
                <li class="dropdown link-a">
                    <a class="target-element link-a" id="online-services" href="#">Онлайн услуги</a>
                    <div class="tooltip">
                        <a href="#">Безплатна консултация</a>
                        <a href="#">Запиши се</a>
                    </div>
                    <span class="dropdown-icon"></span>
                </li>
                <li><img id="logo" src="{% static "img/Ready-stock/Logo/AIM_logo-ROUNDED.png" %}" alt="">
                </li>
                <li class="dropdown">
                    <a class="target-element link-a" id="other-services" href="#">Други услуги</a>
                                        <div class="tooltip">
                                            <a href="#">ДАНЪЦИ ОТ САЩ</a>
                                            <a href="#">СТАЖОВЕ В САЩ</a>
                                            <a href="#">РАБОТА ЗА НЕСТУДЕНТИ</a>
                                            <a href="{% url 'news' %}">НОВИНИ</a>
                                        </div>
                                        <span class="dropdown-icon"></span>
                </li>
                <li><a class="link-a" id="job-offers" href="{% url 'offers' %}">Работни оферти</a></li>
                <li><a class="link-a" id="contacts" href="{% url 'under-construction' %}">Контакти</a></li>
                <li>
                    <div class="nav-button">
                        <a class="nav-button-a" href="#">БЕЗПЛАТНА КОНСУЛТАЦИЯ</a>
                    </div>
                </li>
            </ul>
        </nav>
    </section>

    <section id="wat-usa-header">
        <div class="offers-background">
            <div class="background-gradient" id="offers-header-sub">
                <div id='text-container'>
                    <h1>Какво представлява програмата</h1>
                    <h1>Work and Travel?</h1>
                    {#                    <p>Искате да се запознаете с интересна и полезна информация относно работните ни оферти?#}
                    {#                        Забравете за#}
                    {#                        скучното четене и посетете видеото. Ще се изненадате колко лесно и забавно можете да се#}
                    {#                        научат нови#}
                    {#                        неща.#}
                    {#                    </p>#}
                </div>
            </div>
        </div>
    </section>
    <section id="offers-video">
        <div id="main-offers-video">
            <a href="https://www.youtube-nocookie.com/embed/EAx-L-U3m_o?controls=0" data-glightbox
               class="glightbox2" data-effect="fade">
                <div class="fancy-background"></div>
                <img src="../../static/img/thumbnail.JPG" alt="">
                <div class="white-border">

                </div>
                <div id="main-offers-video-logo">
                    <img src="../../static/img/Ready-stock/Logo/AIM_logo-ROUNDED.png" alt="logo">
                </div>
                <div id="main-offers-video-details" class="vertical-line">
                    <p>AIM Travel</p>
                </div>
            </a>
        </div>
    </section>
</header>
<img id="wat-usa-page-flag1" class="usa-flag" src="../../static/img/USA%20Flag.png" alt="">
<main>

    <section id="general-section">
        <div class="general-section-container">
            <div class="general-section-text-container">
                <p><span>Work and Travel USA</span> е програма, която предоставя възможност на студентите да пътуват до
                    САЩ и да
                    работят там през лятото за период до 4 месеца, а след това и да останеш в Америка като турист за още
                    30 дни (ти сам избрираш дали да работиш 2,3 или 4 месеца). По този начин можеш да събереш достатъчно
                    пари да покриеш всички разходи, че дори и отгоре. Спомените и преживяванията от <span>Студентската Бригада</span>
                    обикновено остават за цял живот. Програмата Work and Travel USA дава възможност на студентите
                    редовно обучение да получат <span> работно разрешително </span>, с което лесно да вземат <span>J1 Visa</span>.
                    С нея те могат да бъдат много повече от просто Туристи в САЩ, а именно:</p>
            </div>
            <div class="general-section-text-container">
                <p>Първо, да придобият опит в работната среда и да развият умения, които ще им бъдат полезни в бъдещата
                    им кариерa. Второ, те могат да спестят пари и да пътуват, и да разглеждат нови места, да се
                    запознаят с нови култури и да се учат да се справят с нови предизвикателства. Трето, те могат да се
                    запознаят с нови хора и да създават международни контакти и приятелства. За да се случи всичко това,
                    ние от AIM Travel USA ще ти помогнем да избереш една от нашите <span>БУТИКОВИ РАБОТНИ ОФЕРТИ</span>,
                    като това
                    става чрез лицензирани от Държавния Департамент на САЩ организации (наричащи се
                    <span>СПОНСОРИ</span>) и AIM
                    Travel USA като техен представител.</p>
            </div>

        </div>
        <div id="anchor-requirements"></div>
    </section>
    <section id="requirements-section">
        <div id="requirements-section-header">
            <p>Изисквания за Участие в Програмата:</p>
        </div>
        <div id="requirements-section-information">
            <div class="requirements-section-information-container">
                <div class="information-container">
                    <div class="icon-container">
                        <img id="icon1" src="{% static 'img/icons/wat-usa-1.png' %}" alt="">
                    </div>
                    <h4>Да владееш Английски език</h4>
                    <p>(Трябва да владееш задоволително английски език. Колкото по-добро е нивото,
                        толкова по-хубава работа ще ти намерим!)</p>
                </div>
            </div>
            <div class="requirements-section-information-container">
                <div class="information-container">
                    <div class="icon-container">
                        <img id="icon2" src="{% static 'img/icons/wat-usa-2.png' %}" alt="">
                    </div>
                    <h4>Да си редовен студент</h4>
                    <p>(Редовно записан студент в степен Бакалавър или Магистър)</p>
                </div>
            </div>
            <div class="requirements-section-information-container">
                <div class="information-container">
                    <div class="icon-container">
                        <img id="icon3" src="{% static 'img/icons/wat-usa-3.png' %}" alt="">
                    </div>
                    <h4>Да вземеш решение СЕГА</h4>
                    <p>(В офисите ни ще получиш безплатна консултация, а ако не си близо до такъв ще
                        направим онлайн такава.)</p>
                </div>
            </div>
        </div>
    </section>
    <section id="price-section">
        <div id="price-section-inner-container" class="inner-container">
            <div id="price-section-header">
                <h2>Колко струва програмата?</h2>
                <p>Цени лято 2024</p>
            </div>
            <div id="pricing-container">
                <div class="price-container">
                    <div class="price-container-header">
                        <p>SELF ARRANGED</p>
                    </div>
                    <div class="price-container-text">
                        <h2>999$</h2>
                        <p>Цена на програмата със Самостоятелна Работна Оферта</p>
                    </div>
                    <div class="option-list">
                        <ul>
                            <li>Издаване на работно разрешително</li>
                            <li>Изготвяне и внасяне на всички документи</li>
                            <li>Визово интервю в Американското посолство</li>
                            <li>Медицинска застраховка за целия престой</li>
                            <li>Заплащане на месечни вноски</li>
                            <li>Студентски кретид до 10 000 лв.</li>
                        </ul>
                    </div>
                </div>
                <div class="price-container">
                    <div class="price-container-header">
                        <p>FULL PLACEMENT STANDART</p>
                    </div>
                    <div class="price-container-text">
                        <h2>1299$</h2>
                        <p>Цена на програмата с осигурена от агенцията Работна Оферта</p>
                    </div>
                    <div class="option-list">
                        <ul>
                            <li>Осигуряване на работна оферта</li>
                            <li>Издаване на работно разрешително</li>
                            <li>Изготвяне и внасяне на всички документи</li>
                            <li>Визово интервю в Американското посолство</li>
                            <li>Медицинска застраховка за целия престой</li>
                            <li>Заплащане на месечни вноски</li>
                            <li>Студентски кретид до 10 000 лв.</li>
                        </ul>
                    </div>
                </div>
                <div class="price-container">
                    <div class="price-container-header">
                        <p>PREMIUN FULL PLACEMENT</p>
                    </div>
                    <div class="price-container-text">
                        <h2>1399$</h2>
                        <p>Бутикова Премиум <br>Работна Оферта</p>
                    </div>
                    <div class="option-list">
                        <ul>
                            <li>Осигуряване на Премиум работна оферта</li>
                            <li>Издаване на работно разрешително</li>
                            <li>Изготвяне и внасяне на всички документи</li>
                            <li>Визово интервю в Американското посолство</li>
                            <li>Медицинска застраховка за целия престой</li>
                            <li>Заплащане на месечни вноски</li>
                            <li>Студентски кретид до 10 000 лв.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="additional-pricing-container">
                <div id="pricing-sub-header">
                    <p>Допълнителни разходи:</p>
                </div>
                <div id="pricing-row1">
                    <div class="element">
                        <div class="price">35$</div>
                        <div class="description">Такса Sevis</div>
                    </div>
                    <div class="element">
                        <div class="price">160$</div>
                        <div class="description">Такса визово интервю</div>
                    </div>
                    <div class="element">
                        <div class="price">700$ – 1100$</div>
                        <div class="description">Самолетен билет
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16"
                                 fill="none">
                                <g clip-path="url(#clip0_2382_8887)">
                                    <path d="M8.16862 7.66658V10.9999M8.16862 5.00659L8.17529 4.99925M8.16862 14.6666C11.8506 14.6666 14.8353 11.6819 14.8353 7.99992C14.8353 4.31792 11.8506 1.33325 8.16862 1.33325C4.48662 1.33325 1.50195 4.31792 1.50195 7.99992C1.50195 11.6819 4.48662 14.6666 8.16862 14.6666Z"
                                          stroke="white" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_2382_8887">
                                        <rect width="16" height="16" fill="white" transform="translate(0.167969)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
                <div id="pricing-row2">
                    <div class="element">
                        <div class="price">0$</div>
                        <div class="description">При записване. Запиши се сега в офис или онлайн.</div>
                    </div>
                </div>
            </div>
            <div id="pricing-button">
                <div id="pricing-btn" class="pricing-btn">
                    <a href="">ЗАПИШИ СЕ СЕГА</a>
                </div>
            </div>
        </div>
    </section>
    <section id="financial-option-section">
        <div id="financial-inner-container" class="inner-container">
            <div id="text-information">
                <h1>Опции за финансиране:</h1>
                <ul>
                    <li>В брой или по банков път (може и <span>Revolut</span>).</li>
                    <li>Плати след като се върнеш – Можеш да изтеглиш специален студентски кредит в размер <span>до 10 000
                        лв.</span>, с който да финансираш програмата си.
                    </li>
                    <li>На изплащане <span>без оскъпяване</span> – Това е опция, която дава да платиш студентската
                        бригада на вноски,
                        на
                        които ти сам да определиш размера и броя, без лихви и без никакви такси.
                    </li>
                    <div id="anchor-how-to"></div>
                </ul>
            </div>
            <div id="picture-information">
                <img src="{% static 'img/Ready-stock/wat-usa-financial.png' %}" alt="">
            </div>
        </div>


    </section>

    <section id="how-to-section">
        <div id="how-to-inner-container" class="inner-container">
            <div id="how-to-sect1">
                <h1>Как да се запиша за Студентска Бригада в САЩ?</h1>
                <p>Заповядай в офиса на AIM Travel USA в студентски град (ще ти отнеме най-много 30 минути), <span>запиши се
                    онлайн</span> или си запази час за <span>безплатна онлайн консултация</span>, в която ще ти разкажем
                    всичко в най-големи
                    подробности. Единственото, от което имаш нужда е <span>личната ти карта</span>. При записване не се
                    заплащат
                    никакви суми, а в срок от 5 работни дни се превежда депозит от 200$. Ако си със студентски кредит
                    можеш да заплатиш само 50$ депозит.</p>
            </div>
            <div id="how-to-sect2">
                <div class="how-to-sect-header">
                    <h4>Стъпките по записване за програмата WAT са:</h4>
                </div>
                <div class="how-to-sect-content">
                    <div class="how-to-sect-content-row1">
                        <div class="how-to-element">
                            <div id="one" class="number">
                                <p>1</p>
                            </div>
                            <p>Записване и Подписване на <span>договор</span> за участие в програмата</p>
                        </div>
                        <div class="how-to-element">
                            <div class="number">
                                <p>2</p>
                            </div>
                            <p>Попълване на <span>апликация</span> (кратък въпросник), с който се стартира твоето бъдеще
                                приключение
                                и посещение на САЩ.</p>
                        </div>
                        <div class="how-to-element">
                            <div class="number">
                                <p>3</p>
                            </div>
                            <p>Определяне нивото на английски език</p>
                        </div>
                    </div>
                    <div class="how-to-sect-content-row2">
                        <div class="how-to-element">
                            <div class="number">
                                <p>4</p>
                            </div>
                            <p>Избиране на Работна оферта и преминаване
                                на <span>интервюта с работодател/спонсор</span>.</p>
                        </div>
                        <div class="how-to-element">
                            <div class="number">
                                <p>5</p>
                            </div>
                            <p>Интервю за <span>J1 виза</span> в Американското консулство.</p>
                        </div>
                        <div class="how-to-element">
                            <div class="number">
                                <p>6</p>
                            </div>
                            <p>Ориентация и Пристигане в САЩ, Регистрация за <span>Social Security Number</span>.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="how-to-sect3">
                <div class="how-to-sect-header">
                    <h4>Необходими документи:</h4>
                </div>
                <div class="how-to-sect-content">
                    <div class="how-to-sect-content-row1">
                        <div class="how-to-element">
                            <ul>
                                <li>Международен Паспорт</li>
                                <li>Работно разрешително (наречен DS2019)</li>
                                <li>Уверение и Академична справка от Университет (студентска книжка ако е приложима)
                                </li>
                            </ul>
                        </div>
                        <div class="how-to-element">
                            <ul>
                                <li>Снимки – Размер 5х5</li>
                                <li>Попъленен Формуляр DS160</li>
                                <li>SEVIS документ</li>
                            </ul>
                        </div>
                        <div class="how-to-element">
                            <ul>
                                <li>Подписана Работна Оферта</li>
                                <li>Платени всички такси към Американско посолство и Агенцията</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="story-button" class="slider-btn">
            <a href="">ЗАПИШИ СЕ</a>
        </div>
    </section>
    <section id="story-section">
        <div id="story-heading">
            <p id="heading-story">Отзиви От Студенти</p>
        </div>
        <div id="story">
            {% if additional_feedback %}
                <div id="story-1" class="story-container">
                    <div class="story-img">
                        <img src="{{ additional_feedback.feedback_1_image.url }}" alt="pic1">
                        <div class="white-border"></div>
                    </div>
                    <div class="story-text">
                        <h3>{{ additional_feedback.feedback_1_title }}</h3>
                        <p>{{ additional_feedback.feedback_1_content }}</p>
                        <a href="#">Прочети Статия</a>
                    </div>
                </div>
                <div id="story-2" class="story-container">
                    <div class="story-img">
                        <img src="{{ additional_feedback.feedback_2_image.url }}" alt="pic2">
                        <div class="white-border"></div>
                    </div>
                    <div class="story-text">
                        <h3>{{ additional_feedback.feedback_2_title }}</h3>
                        <p>{{ additional_feedback.feedback_2_content }}</p>
                        <a href="#">Прочети Статия</a>
                    </div>
                </div>
                <div id="story-3" class="story-container">
                    <div class="story-img">
                        <img src="{{ additional_feedback.feedback_3_image.url }}" alt="pic3">
                        <div class="white-border"></div>
                    </div>
                    <div class="story-text">
                        <h3>{{ additional_feedback.feedback_3_title }}</h3>
                        <p>{{ additional_feedback.feedback_3_content }}</p>
                        <a href="#">Прочети Статия</a>
                    </div>
                </div>
            {% else %}

                <p> Към момнета няма добавени истории.</p>
            {% endif %}
        </div>
        <div id="story-button" class="slider-btn">
            <a href="">ВИЖ ОЩЕ ИСТОРИИ</a>
        </div>
    </section>
    <section id="faq-section">

    </section>

</main>

<footer>
    <img class="usa-flag" src="{% static 'img/USA Flag.png' %}" alt="">
    <div id="footer-nav-container">
        <div id="logo-container">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/white-AIM_logo 1.png' %}" alt="">
            </a>
            <p>Work Hard Travel Far</p>
        </div>
        <div class="nav-container">
            <h1>БЪРЗИ ВРЪЗКИ</h1>
            <a href="{% url 'index' %}">Начало</a>
            <a href="{% url 'index' %}#about">За нас</a>
            <a href="{% url 'offers' %}">Работни оферти</a>
            <a href="{% url 'news' %}">Блог</a>
            <a href="{% url 'under-construction' %}">Контакти</a>
        </div>
        <div class="nav-container">
            <h1>БРИГАДА В САЩ</h1>
            <a href="{% url 'wat usa' %}#header-nav">Бригадата</a>
            <a href="{% url 'wat usa' %}#anchor-requirements">Изисквания</a>
            <a href="{% url 'wat usa' %}#price-section">Цената</a>
            <a href="{% url 'wat usa' %}#anchor-how-to">Как да се запишеш?</a>

        </div>
        <div class="nav-container">
            <h1>ОНЛАЙН УСЛУГИ</h1>
            <a href="#">Безплатна консултация</a>
            <a href="#">Регистрация за бригада</a>
            <br>
            <div id="phone-details">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="24px" height="24px" stroke-width="1.5"
                     viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                    <path
                            d="M18.118 14.702L14 15.5c-2.782-1.396-4.5-3-5.5-5.5l.77-4.13L7.815 2H4.064c-1.128 0-2.016.932-1.847 2.047.42 2.783 1.66 7.83 5.283 11.453 3.805 3.805 9.286 5.456 12.302 6.113 1.165.253 2.198-.655 2.198-1.848v-3.584l-3.882-1.479z"
                            stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                </svg>
                <p>
                    +359 88 99 66 583
                </p>
            </div>
            <div id="email-details">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg width="24px" height="24px" stroke-width="1.5"
                     viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#FFFFFF">
                    <path d="M7 9l5 3.5L17 9" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"></path>
                    <path d="M2 17V7a2 2 0 012-2h16a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2z" stroke="#FFFFFF"
                          stroke-width="1.5"></path>
                </svg>
                <p>studentski@aimtravel.bg</p>
            </div>
        </div>
        <div class="nav-container">
            <h1>ДРУГИ УСЛУГИ</h1>
            <a href="#">Лагер / Стаж САЩ</a>
            <a href="#">Работа за нестуденти (Н2В Виза)</a>
            <a href="#">Самолетни билети</a>
            <a href="#">Данъци в САЩ</a>
            <a href="#">Данъци</a>
        </div>
    </div>
    <div id="horizontal-line">
        <hr>
    </div>
    <div id="footer-link-container">
        <div id="footer-text">
            <p>Copyright © <span>AIM Travel USA</span> 2023. Всички права запазени.</p>
        </div>
        <div id="footer-links-icons">

            <div id="footer-right-links-icons">
                <div id="footer-login">
                    <a id="footer-login-p1" href="#">Login</a>

                </div>
                <div class="vl">
                    <hr>
                </div>
                <div id="insta-link">
                    <a href="https://www.instagram.com/aimtravel_usa/" target="_blank">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" stroke-width="1.5"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M12 16a4 4 0 100-8 4 4 0 000 8z" stroke="#FFFFFF" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M3 16V8a5 5 0 015-5h8a5 5 0 015 5v8a5 5 0 01-5 5H8a5 5 0 01-5-5z"
                                  stroke="#FFFFFF" stroke-width="1.5"></path>
                            <path d="M17.5 6.51l.01-.011" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round"></path>
                        </svg>
                    </a>

                </div>
                <div class="vl">
                    <hr>
                </div>
                <div id="fb-link">
                    <a href="https://www.facebook.com/profile.php?id=100072235954652" target="_blank">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" stroke-width="1.5"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M17 2h-3a5 5 0 00-5 5v3H6v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3V2z"
                                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round">
                            </path>
                        </svg>
                    </a>

                </div>
                <div class="vl">
                    <hr>
                </div>
                <div id="youtube-link">
                    <a href="https://www.youtube.com/@aimtravel9347" target="_blank">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" stroke-width="1.5"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M14 12l-3.5 2v-4l3.5 2z" fill="#000000" stroke="#FFFFFF" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"></path>
                            <path
                                    d="M2 12.707v-1.415c0-2.895 0-4.343.905-5.274.906-.932 2.332-.972 5.183-1.053C9.438 4.927 10.818 4.9 12 4.9c1.181 0 2.561.027 3.912.065 2.851.081 4.277.121 5.182 1.053.906.931.906 2.38.906 5.274v1.415c0 2.896 0 4.343-.905 5.275-.906.931-2.331.972-5.183 1.052-1.35.039-2.73.066-3.912.066-1.181 0-2.561-.027-3.912-.066-2.851-.08-4.277-.12-5.183-1.052C2 17.05 2 15.602 2 12.708z"
                                    stroke="#FFFFFF" stroke-width="1.5"></path>
                        </svg>
                    </a>

                </div>
                <div class="vl">
                    <hr>
                </div>
                <div class="tiktok-link">
                    <a href="https://www.tiktok.com/@aim_travelusa" target="_blank">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="24px" height="24px" stroke-width="1.5"
                             viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
                            <path d="M21 8v8a5 5 0 01-5 5H8a5 5 0 01-5-5V8a5 5 0 015-5h8a5 5 0 015 5z"
                                  stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round">
                            </path>
                            <path d="M10 12a3 3 0 103 3V6c.333 1 1.6 3 4 3" stroke="#FFFFFF" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                </div>


            </div>

        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="../../static/javascript/js_filtering.js"></script>
<script type="text/javascript" src="../../static/javascript/js_dropdown.js"></script>
<script type="text/javascript" src="../../static/javascript/js_slider.js"></script>
<script type="text/javascript" src="../../static/javascript/js_navbar.js"></script>
<script type="text/javascript" src="../../static/javascript/js_video.js"></script>
</body>

</html>

