{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIM Travel - WAT USA</title>

    <link rel="stylesheet" href="../../static/style.css">
    <link rel="stylesheet" href="../../static/node_modules/glightbox/dist/css/glightbox.min.css">
    <script src="../../static/node_modules/glightbox/dist/js/glightbox.min.js"></script>

</head>

<body>
<header id="wat-header">
    {% include 'navigation.html' %}

    <section id="wat-usa-header">
        <div class="offers-background">
            <div class="background-gradient" id="offers-header-sub">
                <div id='text-container'>
                    <h1>Какво представлява програмата</h1>
                    <h1>Work and Travel?</h1>
                </div>
            </div>
        </div>
    </section>
    <section id="offers-video">
        <div id="main-offers-video">
            <a href="https://www.youtube-nocookie.com/embed/EAx-L-U3m_o?controls=0" data-glightbox
               class="glightbox2" data-effect="fade">
                <div class="fancy-background"></div>
                <img src="../../static/img/thumbnail.JPG" alt="">
                <div class="white-border">

                </div>
                <div id="main-offers-video-logo">
                    <img src="../../static/img/Ready-stock/Logo/AIM_logo-ROUNDED.png" alt="logo">
                </div>
                <div id="main-offers-video-details" class="vertical-line">
                    <p>AIM Travel</p>
                </div>
            </a>
        </div>
    </section>
</header>
<img id="wat-usa-page-flag1" class="usa-flag" src="../../static/img/USA%20Flag.png" alt="">
<main>

    <section id="general-section">
        <div class="general-section-container">
            <div class="general-section-text-container">
                <p><span>Work and Travel USA</span> е програма, която предоставя възможност на студентите да пътуват до
                    САЩ и да
                    работят там през лятото за период до 4 месеца, а след това и да останеш в Америка като турист за още
                    30 дни (ти сам избрираш дали да работиш 2,3 или 4 месеца). По този начин можеш да събереш достатъчно
                    пари да покриеш всички разходи, че дори и отгоре. Спомените и преживяванията от <span>Студентската Бригада</span>
                    обикновено остават за цял живот. Програмата Work and Travel USA дава възможност на студентите
                    редовно обучение да получат <span> работно разрешително </span>, с което лесно да вземат <span>J1 Visa</span>.
                    С нея те могат да бъдат много повече от просто Туристи в САЩ, а именно:</p>
            </div>
            <div class="general-section-text-container">
                <p>Първо, да придобият опит в работната среда и да развият умения, които ще им бъдат полезни в бъдещата
                    им кариерa. Второ, те могат да спестят пари и да пътуват, и да разглеждат нови места, да се
                    запознаят с нови култури и да се учат да се справят с нови предизвикателства. Трето, те могат да се
                    запознаят с нови хора и да създават международни контакти и приятелства. За да се случи всичко това,
                    ние от AIM Travel USA ще ти помогнем да избереш една от нашите <span>БУТИКОВИ РАБОТНИ ОФЕРТИ</span>,
                    като това
                    става чрез лицензирани от Държавния Департамент на САЩ организации (наричащи се
                    <span>СПОНСОРИ</span>) и AIM
                    Travel USA като техен представител.</p>
            </div>

        </div>
        <div id="anchor-requirements"></div>
    </section>
    <section id="requirements-section">
        <div id="requirements-section-header">
            <p>Изисквания за Участие в Програмата:</p>
        </div>
        <div id="requirements-section-information">
            <div class="requirements-section-information-container">
                <div class="information-container">
                    <div class="icon-container">
                        <img id="icon1" src="{% static 'img/icons/wat-usa-1.png' %}" alt="">
                    </div>
                    <h4>Да владееш Английски език</h4>
                    <p>(Трябва да владееш задоволително английски език. Колкото по-добро е нивото,
                        толкова по-хубава работа ще ти намерим!)</p>
                </div>
            </div>
            <div class="requirements-section-information-container">
                <div class="information-container">
                    <div class="icon-container">
                        <img id="icon2" src="{% static 'img/icons/wat-usa-2.png' %}" alt="">
                    </div>
                    <h4>Да си редовен студент</h4>
                    <p>(Редовно записан студент в степен Бакалавър или Магистър)</p>
                </div>
            </div>
            <div class="requirements-section-information-container">
                <div class="information-container">
                    <div class="icon-container">
                        <img id="icon3" src="{% static 'img/icons/wat-usa-3.png' %}" alt="">
                    </div>
                    <h4>Да вземеш решение СЕГА</h4>
                    <p>(В офисите ни ще получиш безплатна консултация, а ако не си близо до такъв ще
                        направим онлайн такава.)</p>
                </div>
            </div>
        </div>
    </section>
    <section id="price-section">
        <div id="price-section-inner-container" class="inner-container">
            <div id="price-section-header">
                <h2>Колко струва програмата?</h2>
                <p>Цени лято 2024</p>
            </div>
            <div id="pricing-container">
                <div class="price-container">
                    <div class="price-container-header">
                        <p>SELF ARRANGED</p>
                    </div>
                    <div class="price-container-text">
                        <h2>999$</h2>
                        <p>Цена на програмата със Самостоятелна Работна Оферта</p>
                    </div>
                    <div class="option-list">
                        <ul>
                            <li>Издаване на работно разрешително</li>
                            <li>Изготвяне и внасяне на всички документи</li>
                            <li>Визово интервю в Американското посолство</li>
                            <li>Медицинска застраховка за целия престой</li>
                            <li>Заплащане на месечни вноски</li>
                            <li>Студентски кретид до 10 000 лв.</li>
                        </ul>
                    </div>
                </div>
                <div class="price-container">
                    <div class="price-container-header">
                        <p>FULL PLACEMENT STANDART</p>
                    </div>
                    <div class="price-container-text">
                        <h2>1299$</h2>
                        <p>Цена на програмата с осигурена от агенцията Работна Оферта</p>
                    </div>
                    <div class="option-list">
                        <ul>
                            <li>Осигуряване на работна оферта</li>
                            <li>Издаване на работно разрешително</li>
                            <li>Изготвяне и внасяне на всички документи</li>
                            <li>Визово интервю в Американското посолство</li>
                            <li>Медицинска застраховка за целия престой</li>
                            <li>Заплащане на месечни вноски</li>
                            <li>Студентски кретид до 10 000 лв.</li>
                        </ul>
                    </div>
                </div>
                <div class="price-container">
                    <div class="price-container-header">
                        <p>PREMIUN FULL PLACEMENT</p>
                    </div>
                    <div class="price-container-text">
                        <h2>1399$</h2>
                        <p>Бутикова Премиум <br>Работна Оферта</p>
                    </div>
                    <div class="option-list">
                        <ul>
                            <li>Осигуряване на Премиум работна оферта</li>
                            <li>Издаване на работно разрешително</li>
                            <li>Изготвяне и внасяне на всички документи</li>
                            <li>Визово интервю в Американското посолство</li>
                            <li>Медицинска застраховка за целия престой</li>
                            <li>Заплащане на месечни вноски</li>
                            <li>Студентски кретид до 10 000 лв.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="additional-pricing-container">
                <div id="pricing-sub-header">
                    <p>Допълнителни разходи:</p>
                </div>
                <div id="pricing-row1">
                    <div class="element">
                        <div class="price">35$</div>
                        <div class="description">Такса Sevis</div>
                    </div>
                    <div class="element">
                        <div class="price">160$</div>
                        <div class="description">Такса визово интервю</div>
                    </div>
                    <div class="element">
                        <div class="price">700$ – 1100$</div>
                        <div class="description">Самолетен билет
                            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="16" viewBox="0 0 17 16"
                                 fill="none">
                                <g clip-path="url(#clip0_2382_8887)">
                                    <path d="M8.16862 7.66658V10.9999M8.16862 5.00659L8.17529 4.99925M8.16862 14.6666C11.8506 14.6666 14.8353 11.6819 14.8353 7.99992C14.8353 4.31792 11.8506 1.33325 8.16862 1.33325C4.48662 1.33325 1.50195 4.31792 1.50195 7.99992C1.50195 11.6819 4.48662 14.6666 8.16862 14.6666Z"
                                          stroke="white" stroke-width="1.5" stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                </g>
                                <defs>
                                    <clipPath id="clip0_2382_8887">
                                        <rect width="16" height="16" fill="white" transform="translate(0.167969)"/>
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                    </div>
                </div>
                <div id="pricing-row2">
                    <div class="element">
                        <div class="price">0$</div>
                        <div class="description">При записване. Запиши се сега в офис или онлайн.</div>
                    </div>
                </div>
            </div>
            <div id="pricing-button">
                <div id="pricing-btn" class="pricing-btn">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTrITzNwfLpNJoHx6gy6zZVOuPaW_CMZoHt08SfdxepdNzeQ/viewform" target="_blank">ЗАПИШИ СЕ СЕГА</a>
                </div>
            </div>
        </div>
    </section>
    <section id="financial-option-section">
        <div id="financial-inner-container" class="inner-container">
            <div id="text-information">
                <h1>Опции за финансиране:</h1>
                <ul>
                    <li>В брой или по банков път (може и <span>Revolut</span>).</li>
                    <li>Плати след като се върнеш – Можеш да изтеглиш специален студентски кредит в размер <span>до 10 000
                        лв.</span>, с който да финансираш програмата си.
                    </li>
                    <li>На изплащане <span>без оскъпяване</span> – Това е опция, която дава да платиш студентската
                        бригада на вноски,
                        на
                        които ти сам да определиш размера и броя, без лихви и без никакви такси.
                    </li>
                    <div id="anchor-how-to"></div>
                </ul>
            </div>
            <div id="picture-information">
                <img src="{% static 'img/Ready-stock/wat-usa-financial.png' %}" alt="">
            </div>
        </div>


    </section>

    <section id="how-to-section">
        <div id="how-to-inner-container" class="inner-container">
            <div id="how-to-sect1">
                <h1>Как да се запиша за Студентска Бригада в САЩ?</h1>
                <p>Заповядай в офиса на AIM Travel USA в студентски град (ще ти отнеме най-много 30 минути), <span>запиши се
                    онлайн</span> или си запази час за <span>безплатна онлайн консултация</span>, в която ще ти разкажем
                    всичко в най-големи
                    подробности. Единственото, от което имаш нужда е <span>личната ти карта</span>. При записване не се
                    заплащат
                    никакви суми, а в срок от 5 работни дни се превежда депозит от 200$. Ако си със студентски кредит
                    можеш да заплатиш само 50$ депозит.</p>
            </div>
            <div id="how-to-sect2">
                <div class="how-to-sect-header">
                    <h4>Стъпките по записване за програмата WAT са:</h4>
                </div>
                <div class="how-to-sect-content">
                    <div class="how-to-sect-content-row1">
                        <div class="how-to-element">
                            <div id="one" class="number">
                                <p>1</p>
                            </div>
                            <p>Записване и Подписване на <span>договор</span> за участие в програмата</p>
                        </div>
                        <div class="how-to-element">
                            <div class="number">
                                <p>2</p>
                            </div>
                            <p>Попълване на <span>апликация</span> (кратък въпросник), с който се стартира твоето бъдеще
                                приключение
                                и посещение на САЩ.</p>
                        </div>
                        <div class="how-to-element">
                            <div class="number">
                                <p>3</p>
                            </div>
                            <p>Определяне нивото на английски език</p>
                        </div>
                    </div>
                    <div class="how-to-sect-content-row2">
                        <div class="how-to-element">
                            <div class="number">
                                <p>4</p>
                            </div>
                            <p>Избиране на Работна оферта и преминаване
                                на <span>интервюта с работодател/спонсор</span>.</p>
                        </div>
                        <div class="how-to-element">
                            <div class="number">
                                <p>5</p>
                            </div>
                            <p>Интервю за <span>J1 виза</span> в Американското консулство.</p>
                        </div>
                        <div class="how-to-element">
                            <div class="number">
                                <p>6</p>
                            </div>
                            <p>Ориентация и Пристигане в САЩ, Регистрация за <span>Social Security Number</span>.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="how-to-sect3">
                <div class="how-to-sect-header">
                    <h4>Необходими документи:</h4>
                </div>
                <div class="how-to-sect-content">
                    <div class="how-to-sect-content-row1">
                        <div class="how-to-element">
                            <ul>
                                <li>Международен Паспорт</li>
                                <li>Работно разрешително (наречен DS2019)</li>
                                <li>Уверение и Академична справка от Университет (студентска книжка ако е приложима)
                                </li>
                            </ul>
                        </div>
                        <div class="how-to-element">
                            <ul>
                                <li>Снимки – Размер 5х5</li>
                                <li>Попъленен Формуляр DS160</li>
                                <li>SEVIS документ</li>
                            </ul>
                        </div>
                        <div class="how-to-element">
                            <ul>
                                <li>Подписана Работна Оферта</li>
                                <li>Платени всички такси към Американско посолство и Агенцията</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="story-button" class="slider-btn">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTrITzNwfLpNJoHx6gy6zZVOuPaW_CMZoHt08SfdxepdNzeQ/viewform" target="_blank">ЗАПИШИ СЕ</a>
        </div>
    </section>
    <section id="story-section">
        <div id="story-heading">
            <p id="heading-story">Истории на Студенти</p>
        </div>
        <div id="story">
            {% if main_feedback %}
                {% for feedback in main_feedback %}
                <div id="story-1" class="story-container">
                    <div class="story-img">
                        <img src="{{ feedback.feedback_1_image.url }}" alt="pic1">
                        <div class="white-border"></div>
                    </div>
                    <div class="story-text">
                        <h3>{{ feedback.feedback_1_title }}</h3>
                        <p>{{ feedback.feedback_1_content }}</p>
                        <a href="{% url 'story' %}">Прочети Статия</a>
                    </div>
                </div>
                {% endfor %}

            {% else %}

                <p> Към момнета няма добавени истории.</p>
            {% endif %}
        </div>
        <div id="story-button" class="slider-btn">
            <a href="{% url 'story' %}">ВИЖ ОЩЕ ИСТОРИИ</a>
        </div>
    </section>
    <section id="faq-section">
        <div id="faq-header">Често задавани въпроси</div>
        <div id="faq-container">
            {% if faq %}
                {% for element in faq %}
                    {% if forloop.counter0|divisibleby:2 %}
                        <div class="faq-row">
                    {% endif %}
                <div class="faq-content">
                    <div class="faq-content-header">
                        <p>{{ element.faq_title }}</p>
                        <div class="arrow-down">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 40 40"
                                 fill="none">
                                <path d="M10 15L20 25L30 15" stroke="#00355E" stroke-width="3" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </div>
                        <div class="arrow-up">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 40 40"
                                 fill="none">
                                <path d="M10 25L20 15L30 25" stroke="#00355E" stroke-width="3" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                    <div class="faq-content-description">
                        <p>{{ element.faq_description }}</p>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:2 or forloop.last %}

                    </div>
                {% endif %}

                {% endfor %}
            {% endif %}
        </div>

    </section>

</main>

{% include 'footer.html' %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{% static 'javascript/js_filtering.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/js_faq.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/js_dropdown.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/js_slider.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/js_navbar.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/js_video.js' %}"></script>
</body>

</html>

